In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/home/koushik/modelling.csv", parse_dates=['VALUATION'])

/home/koushik/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data

,Unnamed: 0,GRPNUM,VALUATION,STATUS,SIC_Code,Effective_Date,EE_Count,Tenure_Months,Tenure_Months1,Apps_Recd,...,Enrollment_End_Date,Exception_Report,Genelco_Group_Status,Market_Segment,Work_Status,Platform_Preferred,MGA_Flag,Aflac_Apps,sno,y
0,0,10001,2015-01-31,ACTIVE,8299.0,01-01-2012,1900,36.993840,36,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,0,12
1,1,10001,2015-02-28,ACTIVE,8299.0,01-01-2012,1900,37.913758,37,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,1,12
2,2,10001,2015-03-31,ACTIVE,8299.0,01-01-2012,1900,38.932238,38,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,2,12
3,3,10001,2015-04-30,ACTIVE,8299.0,01-01-2012,1900,39.917864,39,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,3,12
4,4,10001,2015-05-31,ACTIVE,8299.0,01-01-2012,1900,40.936345,40,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,4,12
5,5,10001,2015-06-30,ACTIVE,8299.0,01-01-2012,1900,41.921971,41,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,5,12
6,6,10001,2015-07-31,ACTIVE,8299.0,01-01-2012,1900,43.058339,42,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,6,12
7,7,10001,2015-08-31,ACTIVE,8299.0,01-01-2012,1900,43.958932,43,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,7,12
8,8,10001,2015-09-30,ACTIVE,8299.0,01-01-2012,1900,44.944559,44,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,8,12
9,9,10001,2015-10-31,ACTIVE,8299.0,01-01-2012,1900,45.963039,45,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,9,12
10,10,10001,2015-11-30,ACTIVE,8299.0,01-01-2012,1900,46.948665,46,16.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,10,12
11,11,10001,2015-12-31,ACTIVE,8299.0,01-01-2012,1900,47.967146,47,NaN,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,11,12
12,12,10001,2016-01-31,ACTIVE,8299.0,01-01-2012,1900,48.985626,48,NaN,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,12,12
13,13,10001,2016-02-29,ACTIVE,8299.0,01-01-2012,1900,49.938398,49,NaN,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,13,12
14,14,10001,2016-03-31,ACTIVE,8299.0,01-01-2012,1900,50.956879,50,NaN,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,14,12
15,15,10001,2016-04-30,ACTIVE,8299.0,01-01-2012,1900,51.942505,51,NaN,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,15,12
16,16,10001,2016-05-31,ACTIVE,8299.0,01-01-2012,1900,52.960986,52,1.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,16,12
17,17,10001,2016-06-30,Active,8299.0,01-01-2012,1900,52.961000,53,1.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,17,12
18,18,10001,2016-07-31,ACTIVE,8299.0,01-01-2012,1900,54.965092,54,1.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,18,12
19,19,10001,2016-08-31,ACTIVE,8299.0,01-01-2012,1900,55.983573,55,1.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,19,12
20,20,10001,2016-09-30,ACTIVE,8299.0,01-01-2012,1900,56.969199,56,1.0,...,01-12-2014,No,NaN,Field Force,Past Enrollment,NaN,Non-MGA,Yes,20,12
21,21,10001,2016-10-31,ACTIVE,8299.0,01-01-2012,1900,57.987680,57,1.0,...,15-09-2016,No,NaN,Broker,In Force,NaN,Non-MGA,Yes,21,12
22,22,10001,2016-11-30,ACTIVE,8299.0,01-01-2012,1900,58.973306,58,1.0,...,15-09-2016,No,NaN,Broker,In Force,NaN,Non-MGA,Yes,22,12
23,23,10001,2016-12-31,ACTIVE,8299.0,01-01-2012,1900,59.991786,59,1.0,...,15-09-2016,No,NaN,Broker,In Force,NaN,Non-MGA,Yes,23,12
24,24,10001,2017-01-31,ACTIVE,8299.0,01-01-2012,1900,61.010267,60,1.0,...,15-09-2016,No,NaN,Broker,In Force,NaN,Non-MGA,Yes,24,12
25,25,10001,2017-02-28,ACTIVE,8299.0,01-01-2012,1900,61.930185,61,1.0,...,15-09-2016,No,NaN,Broker,In Force,NaN,Non-MGA,Yes,25,12
26,26,10003,2015-01-31,ACTIVE,5211.0,01-01-2012,200,36.993840,36,NaN,...,15-12-2014,No,NaN,Broker,Past Enrollment,NaN,Non-MGA,Yes,26,12
27,27,10003,2015-02-28,ACTIVE,5211.0,01-01-2012,200,37.913758,37,NaN,...,15-12-2014,No,NaN,Broker,Past Enrollment,NaN,Non-MGA,Yes,27,12
28,28,10003,2015-03-31,ACTIVE,5211.0,01-01-2012,200,38.932238,38,NaN,...,15-12-2014,No,NaN,Broker,Past Enrollment,NaN,Non-MGA,Yes,28,12
29,29,10003,2015-04-30,ACTIVE,5211.0,01-01-2012,200,39.917864,39,NaN,...,15-12-2014,No,NaN,Broker,Past Enrollment,NaN,Non-MGA,Yes,29,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182989,182989,A1,2016-06-30,Active,NaN,01-01-2010,3800,76.944600,77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182989,12
182990,182990,A1,2016-07-31,ACTIVE,NaN,01-01-2010,3800,78.948665,78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182990,12
182991,182991,A1,2016-08-31,ACTIVE,NaN,01-01-2010,3800,79.967146,79,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182991,12
182992,182992,A1,2016-09-30,ACTIVE,NaN,01-01-2010,3800,80.952772,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182992,12
182993,182993,A1,2016-10-31,ACTIVE,NaN,01-01-2010,3800,81.971253,81,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182993,12
182994,182994,A1,2016-11-30,ACTIVE,NaN,01-01-2010,3800,82.956879,82,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182994,12
182995,182995,A1,2016-12-31,ACTIVE,NaN,01-01-2010,3800,83.975359,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182995,12
182996,182996,A1,2017-01-31,ACTIVE,NaN,01-01-2010,3800,84.993840,84,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182996,12
182997,182997,A1,2017-02-28,ACTIVE,NaN,01-01-2010,3800,85.913758,85,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182997,0
182998,182998,A2,2015-01-31,ACTIVE,NaN,01-03-2010,200,59.039014,58,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182998,12
182999,182999,A2,2015-02-28,ACTIVE,NaN,01-03-2010,200,59.958932,59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,182999,12
183000,183000,A2,2015-03-31,ACTIVE,NaN,01-03-2010,200,60.977413,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183000,12
183001,183001,A2,2015-04-30,ACTIVE,NaN,01-03-2010,200,61.963039,61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183001,12
183002,183002,A2,2015-05-31,ACTIVE,NaN,01-03-2010,200,62.981520,62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183002,12
183003,183003,A2,2015-06-30,ACTIVE,NaN,01-03-2010,200,63.967146,63,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183003,12
183004,183004,A2,2015-07-31,ACTIVE,NaN,01-03-2010,200,65.164036,64,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183004,12
183005,183005,A2,2015-08-31,ACTIVE,NaN,01-03-2010,200,66.004107,65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183005,12
183006,183006,A2,2015-09-30,ACTIVE,NaN,01-03-2010,200,66.989733,66,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183006,12
183007,183007,A2,2015-10-31,ACTIVE,NaN,01-03-2010,200,68.008214,67,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183007,12
183008,183008,A2,2015-11-30,ACTIVE,NaN,01-03-2010,200,68.993840,68,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183008,12
183009,183009,A2,2015-12-31,ACTIVE,NaN,01-03-2010,200,70.012320,69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183009,12
183010,183010,A2,2016-01-31,ACTIVE,NaN,01-03-2010,200,71.030801,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183010,12
183011,183011,A2,2016-02-29,ACTIVE,NaN,01-03-2010,200,71.983573,71,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183011,12
183012,183012,A2,2016-03-31,ACTIVE,NaN,01-03-2010,200,73.002053,72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183012,12
183013,183013,A2,2016-04-30,ACTIVE,NaN,01-03-2010,200,73.987680,73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183013,12
183014,183014,A2,2016-05-31,ACTIVE,NaN,01-03-2010,200,75.006160,74,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183014,12
183015,183015,A2,2016-06-30,Active,NaN,01-03-2010,200,75.006200,75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183015,3
183016,183016,A2,2016-07-31,ACTIVE,NaN,01-03-2010,200,77.010267,76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183016,0
183017,183017,A2,2016-08-31,ACTIVE,NaN,01-03-2010,200,78.028747,77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183017,0
183018,183018,A2,2016-09-30,LAPSED,NaN,01-03-2010,200,79.014374,78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-MGA,No,183018,0

In [5]:
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

/home/koushik/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
data.columns

Index([u'Unnamed: 0', u'GRPNUM', u'VALUATION', u'STATUS', u'SIC_Code',
       u'Effective_Date', u'EE_Count', u'Tenure_Months', u'Tenure_Months1',
       u'Apps_Recd', u'Apps_Proc', u'Apps_Proc_Percent', u'Applied_Premium',
       u'AppliedPremium_L1', u'AppliedPremiumL1_Percent', u'AppliedPremium_L2',
       u'AppliedPremiumL2_Percent', u'AppliedPremium_L3',
       u'AppliedPremiumL3_Percent', u'Claims_Total', u'NoBene', u'NoCert',
       u'NoBenePercent', u'NoCertPercent', u'GROSS_AP', u'GROSSAP_L1',
       u'GrossAPL1_Percent', u'GROSSAP_L2', u'GrossAPL2_Percent',
       u'GROSSAP_L3', u'GrossAPL3_Percent', u'Eff_Date', u'Enrollment_Data',
       u'Account_Implementation_Coordinator', u'Account_Service_Coordinator',
       u'G0138_Status_Timestamp', u'Enrollment_Star_Timestamp',
       u'G0138_received', u'Min_Task_Entry_Date', u'Setup_Complete',
       u'Specific_Suspense', u'Unknown_Suspense', u'Total_Suspense',
       u'TotalSuspense_L1', u'TotalSuspenseL1_Percent', u'TotalSuspense_L2',
       u'TotalSuspenseL2_Percent', u'TotalSuspense_L3',
       u'TotalSuspenseL3_Percent', u'TotalCases', u'Active_Cases',
       u'Coverage_Billing_Effective', u'Enrollment_Start_Date',
       u'Enrollment_End_Date', u'Exception_Report', u'Genelco_Group_Status',
       u'Market_Segment', u'Work_Status', u'Platform_Preferred', u'MGA_Flag',
       u'Aflac_Apps', u'sno', u'y'],
      dtype='object')

In [7]:
data = data.fillna(0)

In [8]:
import datetime
import time

In [9]:
boundary_date = datetime.datetime.strptime('17-01-31', '%y-%m-%d').date()
mod_data = data[data.VALUATION < boundary_date]

In [10]:
mod_data

,Unnamed: 0,GRPNUM,VALUATION,STATUS,SIC_Code,Effective_Date,EE_Count,Tenure_Months,Tenure_Months1,Apps_Recd,...,Enrollment_End_Date,Exception_Report,Genelco_Group_Status,Market_Segment,Work_Status,Platform_Preferred,MGA_Flag,Aflac_Apps,sno,y
0,0,10001,2015-01-31,ACTIVE,8299.0,01-01-2012,1900,36.993840,36,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,0,12
1,1,10001,2015-02-28,ACTIVE,8299.0,01-01-2012,1900,37.913758,37,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,1,12
2,2,10001,2015-03-31,ACTIVE,8299.0,01-01-2012,1900,38.932238,38,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,2,12
3,3,10001,2015-04-30,ACTIVE,8299.0,01-01-2012,1900,39.917864,39,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,3,12
4,4,10001,2015-05-31,ACTIVE,8299.0,01-01-2012,1900,40.936345,40,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,4,12
5,5,10001,2015-06-30,ACTIVE,8299.0,01-01-2012,1900,41.921971,41,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,5,12
6,6,10001,2015-07-31,ACTIVE,8299.0,01-01-2012,1900,43.058339,42,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,6,12
7,7,10001,2015-08-31,ACTIVE,8299.0,01-01-2012,1900,43.958932,43,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,7,12
8,8,10001,2015-09-30,ACTIVE,8299.0,01-01-2012,1900,44.944559,44,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,8,12
9,9,10001,2015-10-31,ACTIVE,8299.0,01-01-2012,1900,45.963039,45,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,9,12
10,10,10001,2015-11-30,ACTIVE,8299.0,01-01-2012,1900,46.948665,46,16.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,10,12
11,11,10001,2015-12-31,ACTIVE,8299.0,01-01-2012,1900,47.967146,47,0.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,11,12
12,12,10001,2016-01-31,ACTIVE,8299.0,01-01-2012,1900,48.985626,48,0.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,12,12
13,13,10001,2016-02-29,ACTIVE,8299.0,01-01-2012,1900,49.938398,49,0.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,13,12
14,14,10001,2016-03-31,ACTIVE,8299.0,01-01-2012,1900,50.956879,50,0.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,14,12
15,15,10001,2016-04-30,ACTIVE,8299.0,01-01-2012,1900,51.942505,51,0.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,15,12
16,16,10001,2016-05-31,ACTIVE,8299.0,01-01-2012,1900,52.960986,52,1.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,16,12
17,17,10001,2016-06-30,Active,8299.0,01-01-2012,1900,52.961000,53,1.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,17,12
18,18,10001,2016-07-31,ACTIVE,8299.0,01-01-2012,1900,54.965092,54,1.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,18,12
19,19,10001,2016-08-31,ACTIVE,8299.0,01-01-2012,1900,55.983573,55,1.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,19,12
20,20,10001,2016-09-30,ACTIVE,8299.0,01-01-2012,1900,56.969199,56,1.0,...,01-12-2014,No,0,Field Force,Past Enrollment,0,Non-MGA,Yes,20,12
21,21,10001,2016-10-31,ACTIVE,8299.0,01-01-2012,1900,57.987680,57,1.0,...,15-09-2016,No,0,Broker,In Force,0,Non-MGA,Yes,21,12
22,22,10001,2016-11-30,ACTIVE,8299.0,01-01-2012,1900,58.973306,58,1.0,...,15-09-2016,No,0,Broker,In Force,0,Non-MGA,Yes,22,12
23,23,10001,2016-12-31,ACTIVE,8299.0,01-01-2012,1900,59.991786,59,1.0,...,15-09-2016,No,0,Broker,In Force,0,Non-MGA,Yes,23,12
26,26,10003,2015-01-31,ACTIVE,5211.0,01-01-2012,200,36.993840,36,0.0,...,15-12-2014,No,0,Broker,Past Enrollment,0,Non-MGA,Yes,26,12
27,27,10003,2015-02-28,ACTIVE,5211.0,01-01-2012,200,37.913758,37,0.0,...,15-12-2014,No,0,Broker,Past Enrollment,0,Non-MGA,Yes,27,12
28,28,10003,2015-03-31,ACTIVE,5211.0,01-01-2012,200,38.932238,38,0.0,...,15-12-2014,No,0,Broker,Past Enrollment,0,Non-MGA,Yes,28,12
29,29,10003,2015-04-30,ACTIVE,5211.0,01-01-2012,200,39.917864,39,0.0,...,15-12-2014,No,0,Broker,Past Enrollment,0,Non-MGA,Yes,29,12
30,30,10003,2015-05-31,ACTIVE,5211.0,01-01-2012,200,40.936345,40,0.0,...,15-12-2014,No,0,Broker,Past Enrollment,0,Non-MGA,Yes,30,12
31,31,10003,2015-06-30,ACTIVE,5211.0,01-01-2012,200,41.921971,41,0.0,...,15-12-2014,No,0,Broker,Past Enrollment,0,Non-MGA,Yes,31,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182987,182987,A1,2016-04-30,ACTIVE,0.0,01-01-2010,3800,75.926078,75,0.0,...,0,0,0,0,0,0,Non-MGA,No,182987,12
182988,182988,A1,2016-05-31,ACTIVE,0.0,01-01-2010,3800,76.944559,76,0.0,...,0,0,0,0,0,0,Non-MGA,No,182988,12
182989,182989,A1,2016-06-30,Active,0.0,01-01-2010,3800,76.944600,77,0.0,...,0,0,0,0,0,0,Non-MGA,No,182989,12
182990,182990,A1,2016-07-31,ACTIVE,0.0,01-01-2010,3800,78.948665,78,0.0,...,0,0,0,0,0,0,Non-MGA,No,182990,12
182991,182991,A1,2016-08-31,ACTIVE,0.0,01-01-2010,3800,79.967146,79,0.0,...,0,0,0,0,0,0,Non-MGA,No,182991,12
182992,182992,A1,2016-09-30,ACTIVE,0.0,01-01-2010,3800,80.952772,80,0.0,...,0,0,0,0,0,0,Non-MGA,No,182992,12
182993,182993,A1,2016-10-31,ACTIVE,0.0,01-01-2010,3800,81.971253,81,0.0,...,0,0,0,0,0,0,Non-MGA,No,182993,12
182994,182994,A1,2016-11-30,ACTIVE,0.0,01-01-2010,3800,82.956879,82,0.0,...,0,0,0,0,0,0,Non-MGA,No,182994,12
182995,182995,A1,2016-12-31,ACTIVE,0.0,01-01-2010,3800,83.975359,83,0.0,...,0,0,0,0,0,0,Non-MGA,No,182995,12
182998,182998,A2,2015-01-31,ACTIVE,0.0,01-03-2010,200,59.039014,58,0.0,...,0,0,0,0,0,0,Non-MGA,No,182998,12
182999,182999,A2,2015-02-28,ACTIVE,0.0,01-03-2010,200,59.958932,59,0.0,...,0,0,0,0,0,0,Non-MGA,No,182999,12
183000,183000,A2,2015-03-31,ACTIVE,0.0,01-03-2010,200,60.977413,60,0.0,...,0,0,0,0,0,0,Non-MGA,No,183000,12
183001,183001,A2,2015-04-30,ACTIVE,0.0,01-03-2010,200,61.963039,61,0.0,...,0,0,0,0,0,0,Non-MGA,No,183001,12
183002,183002,A2,2015-05-31,ACTIVE,0.0,01-03-2010,200,62.981520,62,0.0,...,0,0,0,0,0,0,Non-MGA,No,183002,12
183003,183003,A2,2015-06-30,ACTIVE,0.0,01-03-2010,200,63.967146,63,0.0,...,0,0,0,0,0,0,Non-MGA,No,183003,12
183004,183004,A2,2015-07-31,ACTIVE,0.0,01-03-2010,200,65.164036,64,0.0,...,0,0,0,0,0,0,Non-MGA,No,183004,12
183005,183005,A2,2015-08-31,ACTIVE,0.0,01-03-2010,200,66.004107,65,0.0,...,0,0,0,0,0,0,Non-MGA,No,183005,12
183006,183006,A2,2015-09-30,ACTIVE,0.0,01-03-2010,200,66.989733,66,0.0,...,0,0,0,0,0,0,Non-MGA,No,183006,12
183007,183007,A2,2015-10-31,ACTIVE,0.0,01-03-2010,200,68.008214,67,0.0,...,0,0,0,0,0,0,Non-MGA,No,183007,12
183008,183008,A2,2015-11-30,ACTIVE,0.0,01-03-2010,200,68.993840,68,0.0,...,0,0,0,0,0,0,Non-MGA,No,183008,12
183009,183009,A2,2015-12-31,ACTIVE,0.0,01-03-2010,200,70.012320,69,0.0,...,0,0,0,0,0,0,Non-MGA,No,183009,12
183010,183010,A2,2016-01-31,ACTIVE,0.0,01-03-2010,200,71.030801,70,0.0,...,0,0,0,0,0,0,Non-MGA,No,183010,12
183011,183011,A2,2016-02-29,ACTIVE,0.0,01-03-2010,200,71.983573,71,0.0,...,0,0,0,0,0,0,Non-MGA,No,183011,12
183012,183012,A2,2016-03-31,ACTIVE,0.0,01-03-2010,200,73.002053,72,0.0,...,0,0,0,0,0,0,Non-MGA,No,183012,12
183013,183013,A2,2016-04-30,ACTIVE,0.0,01-03-2010,200,73.987680,73,0.0,...,0,0,0,0,0,0,Non-MGA,No,183013,12
183014,183014,A2,2016-05-31,ACTIVE,0.0,01-03-2010,200,75.006160,74,0.0,...,0,0,0,0,0,0,Non-MGA,No,183014,12
183015,183015,A2,2016-06-30,Active,0.0,01-03-2010,200,75.006200,75,0.0,...,0,0,0,0,0,0,Non-MGA,No,183015,3
183016,183016,A2,2016-07-31,ACTIVE,0.0,01-03-2010,200,77.010267,76,0.0,...,0,0,0,0,0,0,Non-MGA,No,183016,0
183017,183017,A2,2016-08-31,ACTIVE,0.0,01-03-2010,200,78.028747,77,0.0,...,0,0,0,0,0,0,Non-MGA,No,183017,0
183018,183018,A2,2016-09-30,LAPSED,0.0,01-03-2010,200,79.014374,78,0.0,...,0,0,0,0,0,0,Non-MGA,No,183018,0

In [11]:
mod_data.shape

(169207, 63)

In [12]:
train_data = mod_data.iloc[0:130000,:]
test_data = mod_data.iloc[130000:,:]

In [13]:
x_train = train_data[['Tenure_Months','Apps_Proc_Percent','Applied_Premium','NoBenePercent','NoCertPercent','GROSS_AP','G0138_received','Setup_Complete','Total_Suspense','TotalCases','Active_Cases']]
x_test = test_data[['Tenure_Months','Apps_Proc_Percent','Applied_Premium','NoBenePercent','NoCertPercent','GROSS_AP','G0138_received','Setup_Complete','Total_Suspense','TotalCases','Active_Cases']]
y_train = train_data[['y']]
y_test = test_data[['y']]

In [14]:
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

/home/koushik/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
y_pred = classifier.predict(x_test)
y_pred = y_pred.reshape(39207,1)

In [16]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[    3     0     0     0   326]
 [    0     0     0     0   313]
 [    0     0     0     0   305]
 [    0     0     0     0   308]
 [    1     0     0     0 37951]]

In [17]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(classifier.score(x_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.97

In [18]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.75      0.01      0.02       329
          1       0.00      0.00      0.00       313
          2       0.00      0.00      0.00       305
          3       0.00      0.00      0.00       308
         12       0.97      1.00      0.98     37952

avg / total       0.94      0.97      0.95     39207

/home/koushik/anaconda2/lib/python2.7/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [21]:
for i in range(len(y_pred)):
    if y_pred[i] != 12:
        print y_pred[i]

[0]
[0]
[0]
[0]

In [22]:
y_pred[15694]

array([0])

In [23]:
y_test.iloc[15694]

y    0
Name: 157763, dtype: int64

In [24]:
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
y_pred = classifier.predict(x_test)

In [26]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[  244     4     1     2    78]
 [    4    11     3     3   292]
 [    1    11     2     5   286]
 [    2     8     6     8   284]
 [  115   426   452   405 36554]]

In [27]:
print('Accuracy of Decision Tree classifier on test set: {:.2f}'.format(classifier.score(x_test, y_test)))

Accuracy of Decision Tree classifier on test set: 0.94

In [28]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.67      0.74      0.70       329
          1       0.02      0.04      0.03       313
          2       0.00      0.01      0.01       305
          3       0.02      0.03      0.02       308
         12       0.97      0.96      0.97     37952

avg / total       0.95      0.94      0.94     39207

In [29]:
for i in range(len(y_pred)):
    if y_pred[i] != 12:
        print y_pred[i]
        print y_test.iloc[i]

0
y    0
Name: 140901, dtype: int64
2
y    12
Name: 140931, dtype: int64
1
y    12
Name: 140936, dtype: int64
2
y    12
Name: 140969, dtype: int64
1
y    12
Name: 140979, dtype: int64
1
y    12
Name: 140981, dtype: int64
1
y    12
Name: 140983, dtype: int64
2
y    12
Name: 141052, dtype: int64
2
y    12
Name: 141114, dtype: int64
2
y    12
Name: 141145, dtype: int64
3
y    12
Name: 141185, dtype: int64
3
y    12
Name: 141193, dtype: int64
3
y    12
Name: 141195, dtype: int64
1
y    12
Name: 141211, dtype: int64
3
y    12
Name: 141394, dtype: int64
2
y    12
Name: 141412, dtype: int64
0
y    0
Name: 141610, dtype: int64
1
y    12
Name: 141673, dtype: int64
0
y    0
Name: 141691, dtype: int64
1
y    12
Name: 141704, dtype: int64
1
y    12
Name: 141707, dtype: int64
3
y    12
Name: 141727, dtype: int64
3
y    12
Name: 141728, dtype: int64
1
y    12
Name: 141729, dtype: int64
1
y    12
Name: 141730, dtype: int64
1
y    12
Name: 141731, dtype: int64
1
y    12
Name: 141732, dtype: int64
1
y    12
Name: 141735, dtype: int64
1
y    12
Name: 141736, dtype: int64
1
y    12
Name: 141737, dtype: int64
1
y    12
Name: 141761, dtype: int64
3
y    12
Name: 141771, dtype: int64
3
y    12
Name: 141772, dtype: int64
3
y    12
Name: 141774, dtype: int64
0
y    0
Name: 141785, dtype: int64
1
y    12
Name: 141832, dtype: int64
2
y    12
Name: 141861, dtype: int64
3
y    12
Name: 141894, dtype: int64
3
y    12
Name: 141937, dtype: int64
0
y    12
Name: 141957, dtype: int64
0
y    12
Name: 141959, dtype: int64
0
y    0
Name: 142117, dtype: int64
0
y    12
Name: 142157, dtype: int64
2
y    12
Name: 142158, dtype: int64
3
y    12
Name: 142163, dtype: int64
2
y    12
Name: 142206, dtype: int64
2
y    12
Name: 142207, dtype: int64
3
y    12
Name: 142245, dtype: int64
1
y    12
Name: 142271, dtype: int64
3
y    12
Name: 142329, dtype: int64
3
y    12
Name: 142332, dtype: int64
1
y    12
Name: 142337, dtype: int64
2
y    12
Name: 142347, dtype: int64
2
y    12
Name: 142362, dtype: int64
2
y    12
Name: 142371, dtype: int64
3
y    12
Name: 142382, dtype: int64
0
y    0
Name: 142412, dtype: int64
1
y    12
Name: 142454, dtype: int64
2
y    12
Name: 142459, dtype: int64
2
y    12
Name: 142519, dtype: int64
3
y    12
Name: 142539, dtype: int64
0
y    0
Name: 142551, dtype: int64
1
y    1
Name: 142555, dtype: int64
0
y    0
Name: 142556, dtype: int64
3
y    12
Name: 142593, dtype: int64
0
y    0
Name: 142691, dtype: int64
2
y    12
Name: 142760, dtype: int64
3
y    12
Name: 142919, dtype: int64
2
y    12
Name: 142920, dtype: int64
2
y    12
Name: 142922, dtype: int64
2
y    12
Name: 142923, dtype: int64
2
y    12
Name: 142949, dtype: int64
3
y    12
Name: 142986, dtype: int64
1
y    12
Name: 142990, dtype: int64
1
y    12
Name: 142991, dtype: int64
1
y    12
Name: 142992, dtype: int64
1
y    12
Name: 143006, dtype: int64
3
y    12
Name: 143019, dtype: int64
2
y    12
Name: 143039, dtype: int64
0
y    0
Name: 143105, dtype: int64
1
y    12
Name: 143122, dtype: int64
1
y    12
Name: 143126, dtype: int64
3
y    12
Name: 143170, dtype: int64
2
y    12
Name: 143194, dtype: int64
2
y    12
Name: 143281, dtype: int64
3
y    12
Name: 143329, dtype: int64
3
y    12
Name: 143356, dtype: int64
1
y    12
Name: 143378, dtype: int64
1
y    12
Name: 143389, dtype: int64
2
y    12
Name: 143412, dtype: int64
3
y    12
Name: 143510, dtype: int64
3
y    12
Name: 143512, dtype: int64
3
y    12
Name: 143523, dtype: int64
0
y    0
Name: 143540, dtype: int64
0
y    12
Name: 143620, dtype: int64
2
y    12
Name: 143679, dtype: int64
1
y    12
Name: 143744, dtype: int64
1
y    12
Name: 143745, dtype: int64
1
y    12
Name: 143746, dtype: int64
1
y    1
Name: 143753, dtype: int64
0
y    0
Name: 143754, dtype: int64
3
y    12
Name: 143785, dtype: int64
3
y    12
Name: 143815, dtype: int64
2
y    12
Name: 143817, dtype: int64
0
y    0
Name: 143873, dtype: int64
0
y    0
Name: 143883, dtype: int64
2
y    12
Name: 143891, dtype: int64
0
y    0
Name: 143939, dtype: int64
1
y    2
Name: 144153, dtype: int64
1
y    1
Name: 144154, dtype: int64
0
y    0
Name: 144155, dtype: int64
2
y    12
Name: 144189, dtype: int64
1
y    12
Name: 144193, dtype: int64
2
y    12
Name: 144213, dtype: int64
2
y    3
Name: 144257, dtype: int64
0
y    0
Name: 144260, dtype: int64
1
y    12
Name: 144273, dtype: int64
0
y    0
Name: 144376, dtype: int64
1
y    12
Name: 144444, dtype: int64
1
y    12
Name: 144445, dtype: int64
0
y    0
Name: 144452, dtype: int64
0
y    0
Name: 144455, dtype: int64
1
y    12
Name: 144464, dtype: int64
1
y    12
Name: 144509, dtype: int64
1
y    12
Name: 144510, dtype: int64
1
y    12
Name: 144541, dtype: int64
0
y    0
Name: 144548, dtype: int64
3
y    12
Name: 144555, dtype: int64
0
y    0
Name: 144613, dtype: int64
1
y    12
Name: 144667, dtype: int64
1
y    12
Name: 144702, dtype: int64
2
y    12
Name: 144710, dtype: int64
3
y    12
Name: 144713, dtype: int64
3
y    12
Name: 144739, dtype: int64
2
y    12
Name: 144765, dtype: int64
0
y    0
Name: 144780, dtype: int64
3
y    12
Name: 144787, dtype: int64
0
y    0
Name: 144814, dtype: int64
2
y    12
Name: 144878, dtype: int64
3
y    2
Name: 144906, dtype: int64
2
y    0
Name: 144908, dtype: int64
1
y    12
Name: 144926, dtype: int64
1
y    12
Name: 144931, dtype: int64
1
y    3
Name: 144932, dtype: int64
0
y    0
Name: 144935, dtype: int64
0
y    0
Name: 144956, dtype: int64
1
y    12
Name: 145038, dtype: int64
2
y    12
Name: 145172, dtype: int64
1
y    12
Name: 145210, dtype: int64
2
y    12
Name: 145231, dtype: int64
3
y    12
Name: 145330, dtype: int64
2
y    12
Name: 145403, dtype: int64
2
y    12
Name: 145496, dtype: int64
1
y    12
Name: 145501, dtype: int64
2
y    12
Name: 145502, dtype: int64
1
y    12
Name: 145503, dtype: int64
2
y    12
Name: 145504, dtype: int64
2
y    12
Name: 145505, dtype: int64
1
y    12
Name: 145506, dtype: int64
1
y    12
Name: 145507, dtype: int64
3
y    12
Name: 145566, dtype: int64
1
y    12
Name: 145569, dtype: int64
3
y    12
Name: 145573, dtype: int64
3
y    12
Name: 145574, dtype: int64
3
y    12
Name: 145575, dtype: int64
3
y    12
Name: 145576, dtype: int64
3
y    12
Name: 145577, dtype: int64
2
y    12
Name: 145745, dtype: int64
2
y    12
Name: 145748, dtype: int64
2
y    12
Name: 145749, dtype: int64
0
y    12
Name: 145752, dtype: int64
0
y    0
Name: 145856, dtype: int64
3
y    12
Name: 145878, dtype: int64
0
y    12
Name: 145969, dtype: int64
0
y    12
Name: 145974, dtype: int64
1
y    12
Name: 145985, dtype: int64
3
y    12
Name: 146037, dtype: int64
2
y    12
Name: 146038, dtype: int64
2
y    12
Name: 146040, dtype: int64
2
y    12
Name: 146041, dtype: int64
2
y    12
Name: 146042, dtype: int64
3
y    12
Name: 146088, dtype: int64
3
y    12
Name: 146089, dtype: int64
3
y    12
Name: 146091, dtype: int64
3
y    12
Name: 146092, dtype: int64
3
y    12
Name: 146093, dtype: int64
3
y    12
Name: 146098, dtype: int64
3
y    12
Name: 146136, dtype: int64
0
y    0
Name: 146166, dtype: int64
2
y    12
Name: 146204, dtype: int64
1
y    12
Name: 146248, dtype: int64
1
y    12
Name: 146249, dtype: int64
1
y    12
Name: 146250, dtype: int64
0
y    0
Name: 146308, dtype: int64
2
y    12
Name: 146432, dtype: int64
2
y    12
Name: 146436, dtype: int64
3
y    12
Name: 146470, dtype: int64
2
y    12
Name: 146474, dtype: int64
2
y    12
Name: 146475, dtype: int64
2
y    12
Name: 146479, dtype: int64
2
y    12
Name: 146488, dtype: int64
1
y    12
Name: 146489, dtype: int64
2
y    12
Name: 146505, dtype: int64
2
y    12
Name: 146506, dtype: int64
2
y    12
Name: 146507, dtype: int64
2
y    12
Name: 146508, dtype: int64
2
y    12
Name: 146509, dtype: int64
3
y    12
Name: 146541, dtype: int64
2
y    12
Name: 146663, dtype: int64
2
y    12
Name: 146664, dtype: int64
2
y    12
Name: 146667, dtype: int64
2
y    12
Name: 146668, dtype: int64
2
y    12
Name: 146669, dtype: int64
2
y    12
Name: 146670, dtype: int64
2
y    12
Name: 146671, dtype: int64
2
y    12
Name: 146672, dtype: int64
2
y    12
Name: 146673, dtype: int64
2
y    12
Name: 146674, dtype: int64
2
y    12
Name: 146675, dtype: int64
3
y    12
Name: 146760, dtype: int64
3
y    12
Name: 146774, dtype: int64
3
y    12
Name: 146775, dtype: int64
3
y    12
Name: 146824, dtype: int64
2
y    12
Name: 146837, dtype: int64
2
y    12
Name: 146944, dtype: int64
3
y    12
Name: 146956, dtype: int64
3
y    12
Name: 146957, dtype: int64
2
y    12
Name: 146998, dtype: int64
3
y    1
Name: 147022, dtype: int64
0
y    0
Name: 147023, dtype: int64
3
y    12
Name: 147024, dtype: int64
3
y    12
Name: 147034, dtype: int64
0
y    0
Name: 147040, dtype: int64
2
y    12
Name: 147041, dtype: int64
2
y    12
Name: 147044, dtype: int64
3
y    12
Name: 147061, dtype: int64
0
y    12
Name: 147119, dtype: int64
0
y    12
Name: 147120, dtype: int64
0
y    12
Name: 147121, dtype: int64
3
y    12
Name: 147126, dtype: int64
3
y    12
Name: 147127, dtype: int64
2
y    12
Name: 147139, dtype: int64
2
y    12
Name: 147142, dtype: int64
0
y    0
Name: 147164, dtype: int64
2
y    12
Name: 147177, dtype: int64
2
y    12
Name: 147178, dtype: int64
2
y    12
Name: 147180, dtype: int64
2
y    12
Name: 147181, dtype: int64
2
y    12
Name: 147182, dtype: int64
3
y    12
Name: 147183, dtype: int64
3
y    12
Name: 147184, dtype: int64
3
y    12
Name: 147185, dtype: int64
3
y    12
Name: 147187, dtype: int64
3
y    12
Name: 147188, dtype: int64
0
y    0
Name: 147256, dtype: int64
0
y    0
Name: 147296, dtype: int64
0
y    0
Name: 147300, dtype: int64
0
y    0
Name: 147318, dtype: int64
3
y    12
Name: 147337, dtype: int64
1
y    12
Name: 147426, dtype: int64
1
y    12
Name: 147430, dtype: int64
3
y    12
Name: 147440, dtype: int64
3
y    12
Name: 147441, dtype: int64
3
y    12
Name: 147445, dtype: int64
0
y    0
Name: 147509, dtype: int64
3
y    12
Name: 147516, dtype: int64
0
y    12
Name: 147562, dtype: int64
3
y    12
Name: 147591, dtype: int64
2
y    12
Name: 147616, dtype: int64
2
y    12
Name: 147618, dtype: int64
0
y    12
Name: 147621, dtype: int64
0
y    12
Name: 147622, dtype: int64
2
y    12
Name: 147623, dtype: int64
0
y    12
Name: 147624, dtype: int64
0
y    12
Name: 147625, dtype: int64
0
y    12
Name: 147626, dtype: int64
0
y    12
Name: 147627, dtype: int64
0
y    12
Name: 147628, dtype: int64
2
y    12
Name: 147657, dtype: int64
3
y    12
Name: 147707, dtype: int64
3
y    12
Name: 147709, dtype: int64
0
y    0
Name: 147772, dtype: int64
1
y    12
Name: 147792, dtype: int64
2
y    12
Name: 147832, dtype: int64
1
y    12
Name: 147835, dtype: int64
2
y    12
Name: 147870, dtype: int64
2
y    3
Name: 147871, dtype: int64
3
y    2
Name: 147872, dtype: int64
2
y    1
Name: 147873, dtype: int64
0
y    0
Name: 147874, dtype: int64
2
y    12
Name: 147905, dtype: int64
3
y    12
Name: 147918, dtype: int64
0
y    0
Name: 147936, dtype: int64
3
y    12
Name: 148054, dtype: int64
2
y    12
Name: 148064, dtype: int64
1
y    12
Name: 148156, dtype: int64
3
y    12
Name: 148157, dtype: int64
3
y    12
Name: 148158, dtype: int64
1
y    12
Name: 148161, dtype: int64
0
y    0
Name: 148191, dtype: int64
2
y    12
Name: 148231, dtype: int64
0
y    0
Name: 148308, dtype: int64
3
y    12
Name: 148327, dtype: int64
3
y    12
Name: 148328, dtype: int64
3
y    12
Name: 148330, dtype: int64
2
y    12
Name: 148331, dtype: int64
1
y    12
Name: 148441, dtype: int64
3
y    12
Name: 148453, dtype: int64
2
y    12
Name: 148666, dtype: int64
3
y    12
Name: 148681, dtype: int64
2
y    12
Name: 148682, dtype: int64
2
y    12
Name: 148683, dtype: int64
3
y    12
Name: 148686, dtype: int64
3
y    12
Name: 148687, dtype: int64
2
y    12
Name: 148690, dtype: int64
2
y    12
Name: 148770, dtype: int64
1
y    12
Name: 148776, dtype: int64
1
y    12
Name: 148777, dtype: int64
1
y    2
Name: 148841, dtype: int64
0
y    1
Name: 148842, dtype: int64
0
y    0
Name: 148843, dtype: int64
1
y    12
Name: 148923, dtype: int64
3
y    12
Name: 148952, dtype: int64
2
y    12
Name: 148987, dtype: int64
1
y    12
Name: 148992, dtype: int64
2
y    12
Name: 149023, dtype: int64
3
y    12
Name: 149031, dtype: int64
3
y    12
Name: 149036, dtype: int64
1
y    12
Name: 149037, dtype: int64
3
y    12
Name: 149038, dtype: int64
1
y    12
Name: 149140, dtype: int64
2
y    12
Name: 149141, dtype: int64
1
y    12
Name: 149146, dtype: int64
1
y    12
Name: 149147, dtype: int64
2
y    12
Name: 149148, dtype: int64
2
y    12
Name: 149149, dtype: int64
1
y    12
Name: 149150, dtype: int64
2
y    12
Name: 149151, dtype: int64
2
y    12
Name: 149238, dtype: int64
1
y    12
Name: 149240, dtype: int64
1
y    12
Name: 149291, dtype: int64
1
y    12
Name: 149292, dtype: int64
1
y    12
Name: 149293, dtype: int64
1
y    12
Name: 149294, dtype: int64
2
y    12
Name: 149295, dtype: int64
2
y    12
Name: 149296, dtype: int64
1
y    12
Name: 149297, dtype: int64
1
y    12
Name: 149298, dtype: int64
1
y    12
Name: 149299, dtype: int64
3
y    12
Name: 149306, dtype: int64
2
y    12
Name: 149330, dtype: int64
0
y    0
Name: 149367, dtype: int64
1
y    12
Name: 149403, dtype: int64
0
y    0
Name: 149443, dtype: int64
3
y    12
Name: 149460, dtype: int64
3
y    12
Name: 149461, dtype: int64
3
y    12
Name: 149467, dtype: int64
3
y    12
Name: 149496, dtype: int64
2
y    12
Name: 149499, dtype: int64
2
y    12
Name: 149500, dtype: int64
1
y    12
Name: 149504, dtype: int64
2
y    12
Name: 149625, dtype: int64
3
y    12
Name: 149629, dtype: int64
0
y    0
Name: 149633, dtype: int64
3
y    12
Name: 149646, dtype: int64
0
y    0
Name: 149664, dtype: int64
3
y    0
Name: 149677, dtype: int64
1
y    12
Name: 149704, dtype: int64
1
y    12
Name: 149705, dtype: int64
1
y    12
Name: 149706, dtype: int64
1
y    12
Name: 149707, dtype: int64
1
y    12
Name: 149708, dtype: int64
1
y    12
Name: 149709, dtype: int64
1
y    12
Name: 149710, dtype: int64
1
y    12
Name: 149711, dtype: int64
1
y    12
Name: 149712, dtype: int64
1
y    12
Name: 149713, dtype: int64
1
y    12
Name: 149714, dtype: int64
1
y    12
Name: 149715, dtype: int64
1
y    12
Name: 149716, dtype: int64
1
y    12

Name: 149717, dtype: int64
1
y    12
Name: 149718, dtype: int64
1
y    12
Name: 149719, dtype: int64
1
y    12
Name: 149720, dtype: int64
1
y    12
Name: 149721, dtype: int64
1
y    12
Name: 149722, dtype: int64
1
y    12
Name: 149723, dtype: int64
1
y    12
Name: 149724, dtype: int64
1
y    12
Name: 149725, dtype: int64
1
y    12
Name: 149726, dtype: int64
1
y    12
Name: 149727, dtype: int64
3
y    12
Name: 149733, dtype: int64
2
y    12
Name: 149756, dtype: int64
3
y    12
Name: 149816, dtype: int64
3
y    12
Name: 149829, dtype: int64
3
y    12
Name: 149831, dtype: int64
3
y    12
Name: 149895, dtype: int64
0
y    0
Name: 149906, dtype: int64
1
y    12
Name: 149970, dtype: int64
1
y    12
Name: 149971, dtype: int64
2
y    12
Name: 150032, dtype: int64
0
y    12
Name: 150055, dtype: int64
1
y    12
Name: 150056, dtype: int64
0
y    12
Name: 150057, dtype: int64
0
y    12
Name: 150058, dtype: int64
0
y    12
Name: 150060, dtype: int64
0
y    12
Name: 150061, dtype: int64
2
y    12
Name: 150095, dtype: int64
3
y    12
Name: 150101, dtype: int64
1
y    12
Name: 150158, dtype: int64
3
y    12
Name: 150161, dtype: int64
1
y    12
Name: 150166, dtype: int64
3
y    12
Name: 150169, dtype: int64
2
y    12
Name: 150214, dtype: int64
3
y    12
Name: 150220, dtype: int64
3
y    12
Name: 150236, dtype: int64
3
y    12
Name: 150237, dtype: int64
3
y    12
Name: 150239, dtype: int64
2
y    12
Name: 150240, dtype: int64
2
y    12
Name: 150241, dtype: int64
1
y    12
Name: 150264, dtype: int64
3
y    12
Name: 150267, dtype: int64
1
y    12
Name: 150352, dtype: int64
3
y    12
Name: 150415, dtype: int64
0
y    0
Name: 150479, dtype: int64
0
y    0
Name: 150493, dtype: int64
0
y    0
Name: 150514, dtype: int64
1
y    12
Name: 150527, dtype: int64
0
y    12
Name: 150594, dtype: int64
0
y    12
Name: 150595, dtype: int64
0
y    12
Name: 150596, dtype: int64
0
y    12
Name: 150597, dtype: int64
0
y    12
Name: 150598, dtype: int64
0
y    12
Name: 150599, dtype: int64
0
y    12
Name: 150600, dtype: int64
0
y    3
Name: 150601, dtype: int64
0
y    2
Name: 150602, dtype: int64
0
y    1
Name: 150603, dtype: int64
0
y    0
Name: 150604, dtype: int64
2
y    12
Name: 150615, dtype: int64
1
y    12
Name: 150675, dtype: int64
1
y    12
Name: 150676, dtype: int64
1
y    12
Name: 150677, dtype: int64
1
y    12
Name: 150678, dtype: int64
3
y    12
Name: 150679, dtype: int64
1
y    12
Name: 150686, dtype: int64
2
y    12
Name: 150751, dtype: int64
3
y    12
Name: 150780, dtype: int64
3
y    12
Name: 150789, dtype: int64
2
y    12
Name: 150803, dtype: int64
1
y    12
Name: 150828, dtype: int64
2
y    12
Name: 150830, dtype: int64
2
y    12
Name: 150832, dtype: int64
2
y    3
Name: 150833, dtype: int64
2
y    2
Name: 150834, dtype: int64
0
y    0
Name: 150836, dtype: int64
3
y    12
Name: 150856, dtype: int64
3
y    12
Name: 150904, dtype: int64
3
y    12
Name: 150905, dtype: int64
3
y    12
Name: 150906, dtype: int64
1
y    12
Name: 150944, dtype: int64
1
y    12
Name: 150945, dtype: int64
2
y    12
Name: 150964, dtype: int64
2
y    1
Name: 150968, dtype: int64
0
y    12
Name: 151037, dtype: int64
0
y    12
Name: 151039, dtype: int64
3
y    12
Name: 151042, dtype: int64
0
y    0
Name: 151051, dtype: int64
2
y    12
Name: 151074, dtype: int64
2
y    12
Name: 151112, dtype: int64
2
y    12
Name: 151185, dtype: int64
2
y    12
Name: 151224, dtype: int64
2
y    12
Name: 151225, dtype: int64
2
y    12
Name: 151226, dtype: int64
2
y    12
Name: 151227, dtype: int64
2
y    12
Name: 151228, dtype: int64
2
y    12
Name: 151229, dtype: int64
2
y    12
Name: 151230, dtype: int64
2
y    12
Name: 151231, dtype: int64
2
y    12
Name: 151245, dtype: int64
0
y    0
Name: 151268, dtype: int64
2
y    12
Name: 151343, dtype: int64
2
y    12
Name: 151344, dtype: int64
0
y    0
Name: 151366, dtype: int64
3
y    12
Name: 151401, dtype: int64
2
y    12
Name: 151424, dtype: int64
2
y    12
Name: 151427, dtype: int64
0
y    0
Name: 151465, dtype: int64
3
y    12
Name: 151483, dtype: int64
3
y    12
Name: 151484, dtype: int64
3
y    12
Name: 151485, dtype: int64
3
y    12
Name: 151486, dtype: int64
2
y    12
Name: 151557, dtype: int64
2
y    12
Name: 151567, dtype: int64
3
y    12
Name: 151576, dtype: int64
2
y    12
Name: 151584, dtype: int64
1
y    12
Name: 151589, dtype: int64
1
y    12
Name: 151655, dtype: int64
3
y    12
Name: 151661, dtype: int64
3
y    12
Name: 151662, dtype: int64
0
y    0
Name: 151675, dtype: int64
3
y    12
Name: 151724, dtype: int64
0
y    0
Name: 151777, dtype: int64
1
y    12
Name: 151795, dtype: int64
1
y    12
Name: 151797, dtype: int64
1
y    12
Name: 151800, dtype: int64
1
y    12
Name: 151816, dtype: int64
1
y    12
Name: 151824, dtype: int64
1
y    12
Name: 151825, dtype: int64
1
y    12
Name: 151826, dtype: int64
1
y    12
Name: 151827, dtype: int64
2
y    12
Name: 151840, dtype: int64
2
y    12
Name: 151844, dtype: int64
2
y    12
Name: 151845, dtype: int64
0
y    0
Name: 151888, dtype: int64
2
y    12
Name: 152000, dtype: int64
0
y    12
Name: 152034, dtype: int64
0
y    12
Name: 152040, dtype: int64
3
y    12
Name: 152043, dtype: int64
3
y    12
Name: 152044, dtype: int64
0
y    0
Name: 152097, dtype: int64
3
y    12
Name: 152156, dtype: int64
1
y    12
Name: 152168, dtype: int64
3
y    12
Name: 152192, dtype: int64
3
y    12
Name: 152193, dtype: int64
1
y    12
Name: 152210, dtype: int64
3
y    12
Name: 152256, dtype: int64
0
y    0
Name: 152368, dtype: int64
2
y    12
Name: 152375, dtype: int64
0
y    0
Name: 152397, dtype: int64
2
y    12
Name: 152460, dtype: int64
3
y    12
Name: 152470, dtype: int64
2
y    12
Name: 152522, dtype: int64
2
y    12
Name: 152557, dtype: int64
3
y    12
Name: 152560, dtype: int64
2
y    12
Name: 152630, dtype: int64
0
y    12
Name: 152631, dtype: int64
0
y    0
Name: 152749, dtype: int64
2
y    12
Name: 152773, dtype: int64
2
y    12
Name: 152795, dtype: int64
2
y    12
Name: 152913, dtype: int64
2
y    12
Name: 152914, dtype: int64
0
y    12
Name: 152916, dtype: int64
2
y    12
Name: 152917, dtype: int64
0
y    12
Name: 152923, dtype: int64
1
y    12
Name: 152941, dtype: int64
2
y    12
Name: 152945, dtype: int64
3
y    12
Name: 152946, dtype: int64
0
y    0
Name: 153002, dtype: int64
2
y    12
Name: 153013, dtype: int64
2
y    12
Name: 153047, dtype: int64
2
y    12
Name: 153118, dtype: int64
1
y    12
Name: 153213, dtype: int64
3
y    12
Name: 153223, dtype: int64
2
y    12
Name: 153226, dtype: int64
2
y    12
Name: 153227, dtype: int64
0
y    12
Name: 153229, dtype: int64
0
y    12
Name: 153230, dtype: int64
2
y    12
Name: 153260, dtype: int64
0
y    0
Name: 153286, dtype: int64
0
y    0
Name: 153339, dtype: int64
1
y    12
Name: 153342, dtype: int64
1
y    12
Name: 153351, dtype: int64
3
y    12
Name: 153381, dtype: int64
1
y    12
Name: 153385, dtype: int64
3
y    12
Name: 153549, dtype: int64
0
y    0
Name: 153553, dtype: int64
2
y    12
Name: 153571, dtype: int64
2
y    12
Name: 153572, dtype: int64
1
y    12
Name: 153573, dtype: int64
3
y    12
Name: 153619, dtype: int64
3
y    12
Name: 153681, dtype: int64
0
y    0
Name: 153705, dtype: int64
0
y    0
Name: 153754, dtype: int64
2
y    12
Name: 153777, dtype: int64
3
y    3
Name: 153808, dtype: int64
0
y    0
Name: 153811, dtype: int64
0
y    0
Name: 153842, dtype: int64
3
y    12
Name: 153924, dtype: int64
3
y    12
Name: 153925, dtype: int64
1
y    12
Name: 153962, dtype: int64
1
y    2
Name: 153965, dtype: int64
3
y    1
Name: 153966, dtype: int64
3
y    12
Name: 154006, dtype: int64
3
y    12
Name: 154011, dtype: int64
1
y    12
Name: 154016, dtype: int64
3
y    12
Name: 154059, dtype: int64
0
y    0
Name: 154086, dtype: int64
0
y    12
Name: 154120, dtype: int64
2
y    12
Name: 154128, dtype: int64
3
y    12
Name: 154137, dtype: int64
1
y    12
Name: 154216, dtype: int64
2
y    12
Name: 154217, dtype: int64
2
y    12
Name: 154230, dtype: int64
3
y    12
Name: 154285, dtype: int64
3
y    12
Name: 154393, dtype: int64
1
y    12
Name: 154416, dtype: int64
1
y    12
Name: 154420, dtype: int64
1
y    12
Name: 154508, dtype: int64
3
y    12
Name: 154571, dtype: int64
3
y    12
Name: 154572, dtype: int64
3
y    12
Name: 154573, dtype: int64
3
y    12
Name: 154574, dtype: int64
3
y    12
Name: 154623, dtype: int64
1
y    12
Name: 154734, dtype: int64
1
y    12
Name: 154735, dtype: int64
3
y    12
Name: 154759, dtype: int64
3
y    12
Name: 154760, dtype: int64
3
y    12
Name: 154761, dtype: int64
3
y    12
Name: 154781, dtype: int64
0
y    12
Name: 154782, dtype: int64
0
y    12
Name: 154786, dtype: int64
2
y    12
Name: 154787, dtype: int64
0
y    12
Name: 154788, dtype: int64
3
y    12
Name: 154836, dtype: int64
2
y    12
Name: 154838, dtype: int64
2
y    12
Name: 154891, dtype: int64
3
y    12
Name: 154895, dtype: int64
2
y    12
Name: 154907, dtype: int64
0
y    0
Name: 154973, dtype: int64
0
y    12
Name: 155094, dtype: int64
0
y    12
Name: 155097, dtype: int64
0
y    12
Name: 155099, dtype: int64
3
y    12
Name: 155168, dtype: int64
1
y    12
Name: 155170, dtype: int64
3
y    12
Name: 155171, dtype: int64
3
y    12
Name: 155177, dtype: int64
0
y    0
Name: 155187, dtype: int64
1
y    12
Name: 155222, dtype: int64
1
y    12
Name: 155230, dtype: int64
3
y    12
Name: 155368, dtype: int64
2
y    12
Name: 155403, dtype: int64
1
y    12
Name: 155459, dtype: int64
1
y    12
Name: 155493, dtype: int64
1
y    12
Name: 155494, dtype: int64
1
y    12
Name: 155578, dtype: int64
1
y    12
Name: 155584, dtype: int64
3
y    12
Name: 155626, dtype: int64
3
y    12
Name: 155719, dtype: int64
2
y    12
Name: 155774, dtype: int64
1
y    12
Name: 155794, dtype: int64
3
y    12
Name: 155856, dtype: int64
2
y    12
Name: 155857, dtype: int64
2
y    12
Name: 155859, dtype: int64
2
y    12
Name: 155860, dtype: int64
2
y    12
Name: 155861, dtype: int64
2
y    12
Name: 155863, dtype: int64
2
y    12
Name: 155864, dtype: int64
2
y    12
Name: 155865, dtype: int64
2
y    12
Name: 155866, dtype: int64
0
y    0
Name: 155889, dtype: int64
0
y    0
Name: 155923, dtype: int64
1
y    12
Name: 155968, dtype: int64
3
y    12
Name: 156015, dtype: int64
1
y    12
Name: 156073, dtype: int64
1
y    12
Name: 156074, dtype: int64
1
y    12
Name: 156076, dtype: int64
1
y    12
Name: 156077, dtype: int64
2
y    12
Name: 156082, dtype: int64
3
y    12
Name: 156108, dtype: int64
0
y    0
Name: 156129, dtype: int64
2
y    12
Name: 156146, dtype: int64
3
y    12
Name: 156168, dtype: int64
2
y    12
Name: 156170, dtype: int64
2
y    12
Name: 156219, dtype: int64
0
y    1
Name: 156225, dtype: int64
0
y    0
Name: 156226, dtype: int64
1
y    12
Name: 156256, dtype: int64
1
y    12
Name: 156266, dtype: int64
1
y    12
Name: 156268, dtype: int64
1
y    12
Name: 156275, dtype: int64
3
y    12
Name: 156344, dtype: int64
1
y    12
Name: 156351, dtype: int64
1
y    12
Name: 156353, dtype: int64
1
y    12
Name: 156369, dtype: int64
3
y    12
Name: 156410, dtype: int64
3
y    12
Name: 156465, dtype: int64
0
y    0
Name: 156587, dtype: int64
0
y    0
Name: 156588, dtype: int64
3
y    12
Name: 156646, dtype: int64
1
y    12
Name: 156653, dtype: int64
1
y    12
Name: 156658, dtype: int64
1
y    12
Name: 156664, dtype: int64
0
y    12
Name: 156727, dtype: int64
2
y    12
Name: 156824, dtype: int64
2
y    12
Name: 156839, dtype: int64
2
y    12
Name: 156843, dtype: int64
0
y    0
Name: 156862, dtype: int64
0
y    0
Name: 156897, dtype: int64
0
y    0
Name: 156959, dtype: int64
0
y    0
Name: 156975, dtype: int64
2
y    12
Name: 156976, dtype: int64
1
y    12
Name: 156995, dtype: int64
2
y    12
Name: 157041, dtype: int64
2
y    12
Name: 157058, dtype: int64
2
y    12
Name: 157061, dtype: int64
1
y    12
Name: 157062, dtype: int64
2
y    12
Name: 157064, dtype: int64
2
y    12
Name: 157069, dtype: int64
2
y    12
Name: 157095, dtype: int64
0
y    12
Name: 157114, dtype: int64
0
y    12
Name: 157124, dtype: int64
3
y    12
Name: 157138, dtype: int64
3
y    12
Name: 157183, dtype: int64
2
y    12
Name: 157195, dtype: int64
2
y    12
Name: 157196, dtype: int64
2
y    12
Name: 157197, dtype: int64
2
y    12
Name: 157198, dtype: int64
1
y    12
Name: 157199, dtype: int64
1
y    12
Name: 157200, dtype: int64
1
y    12
Name: 157241, dtype: int64
1
y    12
Name: 157246, dtype: int64
1
y    12
Name: 157374, dtype: int64
2
y    12
Name: 157402, dtype: int64
3
y    12
Name: 157403, dtype: int64
3
y    12
Name: 157404, dtype: int64
2
y    12
Name: 157405, dtype: int64
3
y    12
Name: 157406, dtype: int64
3
y    12
Name: 157407, dtype: int64
2
y    12
Name: 157408, dtype: int64
2
y    12
Name: 157458, dtype: int64
1
y    12
Name: 157478, dtype: int64
1
y    12
Name: 157479, dtype: int64
0
y    0
Name: 157532, dtype: int64
3
y    12
Name: 157534, dtype: int64
1
y    12
Name: 157535, dtype: int64
2
y    12
Name: 157536, dtype: int64
2
y    2
Name: 157538, dtype: int64
0
y    0
Name: 157540, dtype: int64
3
y    12
Name: 157609, dtype: int64
3
y    12
Name: 157610, dtype: int64
1
y    12
Name: 157614, dtype: int64
1
y    12
Name: 157616, dtype: int64
0
y    12
Name: 157661, dtype: int64
0
y    12
Name: 157662, dtype: int64
0
y    12
Name: 157666, dtype: int64
0

y    0
Name: 157694, dtype: int64
0
y    0
Name: 157763, dtype: int64
2
y    12
Name: 157777, dtype: int64
2
y    12
Name: 157853, dtype: int64
0
y    0
Name: 157865, dtype: int64
1
y    12
Name: 157959, dtype: int64
0
y    0
Name: 157964, dtype: int64
0
y    12
Name: 157976, dtype: int64
1
y    0
Name: 158036, dtype: int64
3
y    12
Name: 158044, dtype: int64
3
y    12
Name: 158143, dtype: int64
0
y    0
Name: 158161, dtype: int64
2
y    12
Name: 158166, dtype: int64
2
y    12
Name: 158169, dtype: int64
2
y    12
Name: 158297, dtype: int64
2
y    12
Name: 158299, dtype: int64
1
y    12
Name: 158318, dtype: int64
0
y    0
Name: 158357, dtype: int64
0
y    0
Name: 158410, dtype: int64
2
y    12
Name: 158455, dtype: int64
2
y    12
Name: 158457, dtype: int64
2
y    12
Name: 158458, dtype: int64
2
y    12
Name: 158459, dtype: int64
2
y    12
Name: 158460, dtype: int64
0
y    0
Name: 158481, dtype: int64
3
y    12
Name: 158601, dtype: int64
3
y    12
Name: 158650, dtype: int64
2
y    12
Name: 158723, dtype: int64
1
y    12
Name: 158726, dtype: int64
0
y    0
Name: 158753, dtype: int64
1
y    12
Name: 158864, dtype: int64
0
y    0
Name: 158869, dtype: int64
0
y    0
Name: 158871, dtype: int64
0
y    0
Name: 158874, dtype: int64
2
y    12
Name: 158973, dtype: int64
2
y    12
Name: 158974, dtype: int64
1
y    12
Name: 158983, dtype: int64
2
y    12
Name: 158984, dtype: int64
3
y    12
Name: 159073, dtype: int64
3
y    12
Name: 159136, dtype: int64
1
y    12
Name: 159172, dtype: int64
3
y    12
Name: 159174, dtype: int64
0
y    0
Name: 159253, dtype: int64
0
y    0
Name: 159303, dtype: int64
3
y    12
Name: 159311, dtype: int64
2
y    3
Name: 159312, dtype: int64
0
y    0
Name: 159315, dtype: int64
0
y    12
Name: 159320, dtype: int64
3
y    12
Name: 159324, dtype: int64
0
y    12
Name: 159325, dtype: int64
1
y    12
Name: 159328, dtype: int64
1
y    12
Name: 159329, dtype: int64
1
y    12
Name: 159330, dtype: int64
1
y    12
Name: 159348, dtype: int64
2
y    12
Name: 159439, dtype: int64
0
y    0
Name: 159485, dtype: int64
2
y    12
Name: 159486, dtype: int64
2
y    12
Name: 159487, dtype: int64
1
y    12
Name: 159492, dtype: int64
1
y    12
Name: 159494, dtype: int64
3
y    12
Name: 159504, dtype: int64
3
y    3
Name: 159553, dtype: int64
3
y    2
Name: 159554, dtype: int64
0
y    0
Name: 159556, dtype: int64
0
y    0
Name: 159566, dtype: int64
2
y    12
Name: 159570, dtype: int64
2
y    12
Name: 159571, dtype: int64
3
y    12
Name: 159574, dtype: int64
3
y    12
Name: 159634, dtype: int64
3
y    12
Name: 159635, dtype: int64
1
y    12
Name: 159658, dtype: int64
2
y    12
Name: 159675, dtype: int64
3
y    12
Name: 159707, dtype: int64
0
y    0
Name: 159711, dtype: int64
1
y    12
Name: 159720, dtype: int64
1
y    12
Name: 159721, dtype: int64
3
y    12
Name: 159765, dtype: int64
3
y    12
Name: 159768, dtype: int64
0
y    12
Name: 159812, dtype: int64
2
y    12
Name: 159838, dtype: int64
3
y    12
Name: 159839, dtype: int64
3
y    12
Name: 159939, dtype: int64
0
y    12
Name: 160044, dtype: int64
2
y    12
Name: 160046, dtype: int64
1
y    12
Name: 160047, dtype: int64
0
y    3
Name: 160063, dtype: int64
0
y    0
Name: 160066, dtype: int64
0
y    12
Name: 160072, dtype: int64
0
y    12
Name: 160075, dtype: int64
0
y    0
Name: 160145, dtype: int64
2
y    12
Name: 160262, dtype: int64
1
y    12
Name: 160268, dtype: int64
0
y    12
Name: 160287, dtype: int64
1
y    12
Name: 160297, dtype: int64
0
y    12
Name: 160460, dtype: int64
0
y    12
Name: 160463, dtype: int64
3
y    12
Name: 160466, dtype: int64
1
y    12
Name: 160472, dtype: int64
2
y    12
Name: 160474, dtype: int64
1
y    1
Name: 160540, dtype: int64
1
y    12
Name: 160558, dtype: int64
2
y    12
Name: 160602, dtype: int64
3
y    12
Name: 160647, dtype: int64
1
y    12
Name: 160704, dtype: int64
1
y    12
Name: 160713, dtype: int64
2
y    12
Name: 160732, dtype: int64
2
y    12
Name: 160815, dtype: int64
0
y    0
Name: 160906, dtype: int64
2
y    12
Name: 160916, dtype: int64
2
y    12
Name: 160917, dtype: int64
2
y    12
Name: 160918, dtype: int64
2
y    12
Name: 160919, dtype: int64
2
y    12
Name: 160920, dtype: int64
0
y    12
Name: 160943, dtype: int64
1
y    12
Name: 160961, dtype: int64
2
y    12
Name: 160992, dtype: int64
1
y    3
Name: 160993, dtype: int64
0
y    0
Name: 161043, dtype: int64
2
y    12
Name: 161050, dtype: int64
2
y    12
Name: 161058, dtype: int64
2
y    12
Name: 161110, dtype: int64
3
y    12
Name: 161155, dtype: int64
3
y    12
Name: 161157, dtype: int64
3
y    12
Name: 161167, dtype: int64
1
y    12
Name: 161202, dtype: int64
3
y    12
Name: 161226, dtype: int64
1
y    0
Name: 161245, dtype: int64
3
y    12
Name: 161332, dtype: int64
0
y    0
Name: 161367, dtype: int64
3
y    12
Name: 161378, dtype: int64
3
y    12
Name: 161379, dtype: int64
3
y    3
Name: 161381, dtype: int64
3
y    2
Name: 161382, dtype: int64
0
y    0
Name: 161384, dtype: int64
3
y    12
Name: 161399, dtype: int64
2
y    12
Name: 161408, dtype: int64
3
y    12
Name: 161429, dtype: int64
3
y    12
Name: 161438, dtype: int64
1
y    3
Name: 161459, dtype: int64
3
y    12
Name: 161474, dtype: int64
3
y    12
Name: 161576, dtype: int64
2
y    12
Name: 161579, dtype: int64
3
y    12
Name: 161580, dtype: int64
2
y    12
Name: 161581, dtype: int64
2
y    12
Name: 161582, dtype: int64
2
y    12
Name: 161583, dtype: int64
0
y    0
Name: 161592, dtype: int64
1
y    12
Name: 161621, dtype: int64
2
y    12
Name: 161635, dtype: int64
2
y    12
Name: 161667, dtype: int64
2
y    12
Name: 161668, dtype: int64
0
y    0
Name: 161718, dtype: int64
2
y    12
Name: 161752, dtype: int64
0
y    12
Name: 161756, dtype: int64
1
y    12
Name: 161783, dtype: int64
0
y    0
Name: 161794, dtype: int64
2
y    12
Name: 161826, dtype: int64
3
y    12
Name: 161864, dtype: int64
1
y    12
Name: 161913, dtype: int64
3
y    12
Name: 161959, dtype: int64
1
y    12
Name: 161989, dtype: int64
0
y    1
Name: 161996, dtype: int64
1
y    12
Name: 162043, dtype: int64
2
y    12
Name: 162044, dtype: int64
2
y    12
Name: 162045, dtype: int64
2
y    12
Name: 162046, dtype: int64
2
y    12
Name: 162047, dtype: int64
2
y    12
Name: 162167, dtype: int64
0
y    12
Name: 162186, dtype: int64
3
y    12
Name: 162215, dtype: int64
1
y    12
Name: 162218, dtype: int64
0
y    0
Name: 162268, dtype: int64
3
y    12
Name: 162358, dtype: int64
3
y    12
Name: 162387, dtype: int64
2
y    12
Name: 162394, dtype: int64
0
y    0
Name: 162433, dtype: int64
3
y    12
Name: 162443, dtype: int64
3
y    12
Name: 162522, dtype: int64
2
y    12
Name: 162555, dtype: int64
2
y    12
Name: 162579, dtype: int64
1
y    12
Name: 162658, dtype: int64
3
y    12
Name: 162668, dtype: int64
3
y    12
Name: 162684, dtype: int64
1
y    12
Name: 162722, dtype: int64
2
y    12
Name: 162728, dtype: int64
0
y    0
Name: 162765, dtype: int64
1
y    12
Name: 162777, dtype: int64
1
y    12
Name: 162805, dtype: int64
0
y    0
Name: 162827, dtype: int64
1
y    12
Name: 162857, dtype: int64
0
y    0
Name: 162876, dtype: int64
1
y    12
Name: 162965, dtype: int64
2
y    12
Name: 162966, dtype: int64
1
y    12
Name: 162967, dtype: int64
1
y    12
Name: 162970, dtype: int64
1
y    12
Name: 162973, dtype: int64
1
y    12
Name: 162975, dtype: int64
1
y    12
Name: 162977, dtype: int64
1
y    12
Name: 163007, dtype: int64
3
y    12
Name: 163013, dtype: int64
2
y    12
Name: 163052, dtype: int64
2
y    12
Name: 163060, dtype: int64
2
y    12
Name: 163064, dtype: int64
2
y    12
Name: 163072, dtype: int64
3
y    12
Name: 163159, dtype: int64
2
y    12
Name: 163160, dtype: int64
0
y    0
Name: 163246, dtype: int64
1
y    12
Name: 163257, dtype: int64
0
y    12
Name: 163275, dtype: int64
1
y    12
Name: 163281, dtype: int64
0
y    12
Name: 163285, dtype: int64
0
y    0
Name: 163407, dtype: int64
1
y    12
Name: 163498, dtype: int64
1
y    0
Name: 163502, dtype: int64
1
y    3
Name: 163829, dtype: int64
1
y    2
Name: 163830, dtype: int64
0
y    0
Name: 163832, dtype: int64
2
y    12
Name: 163856, dtype: int64
1
y    12
Name: 163903, dtype: int64
1
y    12
Name: 163949, dtype: int64
1
y    12
Name: 163950, dtype: int64
1
y    12
Name: 163951, dtype: int64
2
y    12
Name: 163957, dtype: int64
0
y    0
Name: 163973, dtype: int64
2
y    12
Name: 164032, dtype: int64
2
y    12
Name: 164033, dtype: int64
2
y    12
Name: 164034, dtype: int64
2
y    12
Name: 164035, dtype: int64
1
y    1
Name: 164066, dtype: int64
0
y    0
Name: 164091, dtype: int64
2
y    12
Name: 164121, dtype: int64
3
y    12
Name: 164239, dtype: int64
0
y    0
Name: 164294, dtype: int64
2
y    12
Name: 164307, dtype: int64
2
y    12
Name: 164362, dtype: int64
0
y    0
Name: 164430, dtype: int64
1
y    12
Name: 164476, dtype: int64
1
y    12
Name: 164510, dtype: int64
0
y    12
Name: 164617, dtype: int64
1
y    12
Name: 164623, dtype: int64
3
y    12
Name: 164631, dtype: int64
0
y    12
Name: 164632, dtype: int64
2
y    12
Name: 164816, dtype: int64
3
y    12
Name: 164993, dtype: int64
0
y    0
Name: 165026, dtype: int64
1
y    12
Name: 165237, dtype: int64
3
y    12
Name: 165295, dtype: int64
0
y    12
Name: 165299, dtype: int64
3
y    12
Name: 165301, dtype: int64
0
y    0
Name: 165376, dtype: int64
1
y    12
Name: 165474, dtype: int64
1
y    1
Name: 165503, dtype: int64
0
y    0
Name: 165504, dtype: int64
3
y    12
Name: 165652, dtype: int64
3
y    12
Name: 165667, dtype: int64
2
y    12
Name: 165729, dtype: int64
1
y    12
Name: 165731, dtype: int64
1
y    12
Name: 165732, dtype: int64
1
y    12
Name: 165762, dtype: int64
3
y    12
Name: 165884, dtype: int64
0
y    0
Name: 165905, dtype: int64
1
y    12
Name: 165919, dtype: int64
0
y    0
Name: 166012, dtype: int64
3
y    12
Name: 166030, dtype: int64
3
y    12
Name: 166031, dtype: int64
3
y    12
Name: 166032, dtype: int64
3
y    12
Name: 166033, dtype: int64
3
y    12
Name: 166034, dtype: int64
3
y    12
Name: 166035, dtype: int64
0
y    0
Name: 166041, dtype: int64
2
y    12
Name: 166076, dtype: int64
2
y    12
Name: 166082, dtype: int64
3
y    12
Name: 166097, dtype: int64
0
y    0
Name: 166102, dtype: int64
1
y    12
Name: 166120, dtype: int64
2
y    12
Name: 166123, dtype: int64
2
y    12
Name: 166124, dtype: int64
2
y    12
Name: 166125, dtype: int64
1
y    12
Name: 166134, dtype: int64
3
y    1
Name: 166138, dtype: int64
0
y    0
Name: 166139, dtype: int64
3
y    12
Name: 166142, dtype: int64
2
y    12
Name: 166168, dtype: int64
1
y    12
Name: 166178, dtype: int64
1
y    12
Name: 166193, dtype: int64
1
y    12
Name: 166219, dtype: int64
1
y    12
Name: 166223, dtype: int64
1
y    12
Name: 166232, dtype: int64
2
y    12
Name: 166255, dtype: int64
0
y    0
Name: 166304, dtype: int64
2
y    12
Name: 166307, dtype: int64
1
y    12
Name: 166403, dtype: int64
0
y    0
Name: 166488, dtype: int64
2
y    12
Name: 166554, dtype: int64
2
y    12
Name: 166555, dtype: int64
2
y    12
Name: 166557, dtype: int64
3
y    12
Name: 166629, dtype: int64
3
y    12
Name: 166630, dtype: int64
3
y    12
Name: 166631, dtype: int64
3
y    12
Name: 166632, dtype: int64
3
y    12
Name: 166633, dtype: int64
3
y    12
Name: 166634, dtype: int64
3
y    12
Name: 166635, dtype: int64
3
y    12
Name: 166678, dtype: int64
1
y    12
Name: 166682, dtype: int64
1
y    12
Name: 166683, dtype: int64
1
y    12
Name: 166684, dtype: int64
1
y    12
Name: 166687, dtype: int64
1
y    12
Name: 166688, dtype: int64
1
y    12
Name: 166689, dtype: int64
1
y    12
Name: 166690, dtype: int64
1
y    12
Name: 166691, dtype: int64
1
y    12
Name: 166692, dtype: int64
1
y    12
Name: 166693, dtype: int64
1
y    12
Name: 166694, dtype: int64
3
y    12
Name: 166724, dtype: int64
1
y    12
Name: 166742, dtype: int64
1
y    12
Name: 166752, dtype: int64
1
y    12
Name: 166795, dtype: int64
1
y    12
Name: 166796, dtype: int64
1
y    12
Name: 166798, dtype: int64
0
y    0
Name: 166804, dtype: int64
0
y    0
Name: 166863, dtype: int64
2
y    12
Name: 166911, dtype: int64
1
y    12
Name: 166917, dtype: int64
0
y    0
Name: 167068, dtype: int64
2
y    12
Name: 167069, dtype: int64
2
y    12
Name: 167101, dtype: int64
2
y    12
Name: 167103, dtype: int64
0
y    0
Name: 167121, dtype: int64
0
y    0
Name: 167130, dtype: int64
0
y    0
Name: 167164, dtype: int64
1
y    12
Name: 167252, dtype: int64
1
y    12
Name: 167253, dtype: int64
0
y    12
Name: 167290, dtype: int64
1
y    12
Name: 167311, dtype: int64
2
y    12
Name: 167333, dtype: int64
0
y    0
Name: 167393, dtype: int64
0
y    0
Name: 167394, dtype: int64
1
y    12
Name: 167468, dtype: int64
0
y    0
Name: 167511, dtype: int64
2
y    12
Name: 167577, dtype: int64
2
y    12
Name: 167582, dtype: int64
2
y    12
Name: 167584, dtype: int64
3
y    3
Name: 167617, dtype: int64
0
y    0
Name: 167620, dtype: int64
0
y    0
Name: 167763, dtype: int64
3
y    12
Name: 167823, dtype: int64
0
y    0
Name: 167949, dtype: int64
3
y    12
Name: 167985, dtype: int64
2
y    12
Name: 168113, dtype: int64
3
y    12
Name: 168116, dtype: int64
3
y    12
Name: 168117, dtype: int64
3
y    12
Name: 168118, dtype: int64
2
y    12
Name: 168177, dtype: int64
2
y    12
Name: 168178, dtype: int64
2
y    12
Name: 168179, dtype: int64
2
y    12
Name: 168326, dtype: int64
0
y    0
Name: 168344, dtype: int64
3
y    12
Name: 168348, dtype: int64
3
y    12
Name: 168354, dtype: int64
0
y    12
Name: 168375, dtype: int64
0
y    12
Name: 168377, dtype: int64
3
y    12
Name: 168421, dtype: int64
3
y    12
Name: 168422, dtype: int64
3
y    12
Name: 168460, dtype: int64
2
y    12
Name: 168469, dtype: int64
2
y    3
Name: 168470, dtype: int64
0
y    0
Name: 168473, dtype: int64
3
y    12
Name: 168480, dtype: int64
3
y    12
Name: 168500, dtype: int64
3
y    12
Name: 168501, dtype: int64
3
y    12
Name: 168502, dtype: int64
0
y    0
Name: 168532, dtype: int64
3
y    12
Name: 168548, dtype: int64
2
y    12
Name: 168597, dtype: int64
2
y    12
Name: 168726, dtype: int64
3
y    12
Name: 168730, dtype: int64
0

y    0
Name: 168738, dtype: int64
0
y    0
Name: 168743, dtype: int64
3
y    12
Name: 168816, dtype: int64
3
y    12
Name: 168832, dtype: int64
2
y    12
Name: 168970, dtype: int64
2
y    12
Name: 169015, dtype: int64
1
y    12
Name: 169036, dtype: int64
3
y    12
Name: 169057, dtype: int64
0
y    12
Name: 169060, dtype: int64
0
y    12
Name: 169061, dtype: int64
0
y    12
Name: 169062, dtype: int64
0
y    12
Name: 169126, dtype: int64
1
y    12
Name: 169127, dtype: int64
0
y    12
Name: 169128, dtype: int64
0
y    12
Name: 169129, dtype: int64
0
y    12
Name: 169130, dtype: int64
0
y    12
Name: 169131, dtype: int64
0
y    12
Name: 169132, dtype: int64
0
y    12
Name: 169133, dtype: int64
0
y    12
Name: 169134, dtype: int64
0
y    12
Name: 169135, dtype: int64
1
y    12
Name: 169162, dtype: int64
3
y    12
Name: 169208, dtype: int64
3
y    12
Name: 169214, dtype: int64
0
y    0
Name: 169285, dtype: int64
2
y    12
Name: 169332, dtype: int64
1
y    2
Name: 169459, dtype: int64
0
y    0
Name: 169461, dtype: int64
0
y    0
Name: 169499, dtype: int64
3
y    12
Name: 169574, dtype: int64
2
y    12
Name: 169598, dtype: int64
0
y    0
Name: 169604, dtype: int64
1
y    12
Name: 169608, dtype: int64
1
y    12
Name: 169622, dtype: int64
3
y    12
Name: 169624, dtype: int64
1
y    12
Name: 169625, dtype: int64
0
y    0
Name: 169654, dtype: int64
1
y    12
Name: 169739, dtype: int64
3
y    12
Name: 169740, dtype: int64
3
y    12
Name: 169767, dtype: int64
1
y    12
Name: 169801, dtype: int64
1
y    12
Name: 169803, dtype: int64
3
y    12
Name: 169878, dtype: int64
3
y    12
Name: 169879, dtype: int64
3
y    12
Name: 169882, dtype: int64
3
y    12
Name: 169883, dtype: int64
3
y    12
Name: 169884, dtype: int64
3
y    12
Name: 169885, dtype: int64
3
y    12
Name: 169886, dtype: int64
3
y    12
Name: 169905, dtype: int64
3
y    12
Name: 169915, dtype: int64
1
y    12
Name: 169928, dtype: int64
1
y    12
Name: 169930, dtype: int64
3
y    12
Name: 169932, dtype: int64
3
y    12
Name: 169933, dtype: int64
1
y    12
Name: 169936, dtype: int64
3
y    3
Name: 169937, dtype: int64
1
y    12
Name: 169956, dtype: int64
1
y    12
Name: 169957, dtype: int64
1
y    12
Name: 169958, dtype: int64
0
y    0
Name: 170024, dtype: int64
2
y    12
Name: 170112, dtype: int64
1
y    12
Name: 170196, dtype: int64
0
y    0
Name: 170244, dtype: int64
2
y    12
Name: 170291, dtype: int64
2
y    12
Name: 170293, dtype: int64
2
y    12
Name: 170379, dtype: int64
0
y    0
Name: 170482, dtype: int64
3
y    12
Name: 170516, dtype: int64
2
y    12
Name: 170523, dtype: int64
0
y    0
Name: 170573, dtype: int64
0
y    0
Name: 170607, dtype: int64
0
y    0
Name: 170609, dtype: int64
0
y    0
Name: 170626, dtype: int64
2
y    12
Name: 170653, dtype: int64
2
y    12
Name: 170656, dtype: int64
1
y    12
Name: 170658, dtype: int64
1
y    2
Name: 170662, dtype: int64
0
y    0
Name: 170664, dtype: int64
2
y    12
Name: 170687, dtype: int64
2
y    12
Name: 170688, dtype: int64
0
y    0
Name: 170714, dtype: int64
2
y    12
Name: 170788, dtype: int64
2
y    12
Name: 170789, dtype: int64
2
y    12
Name: 170790, dtype: int64
0
y    12
Name: 170877, dtype: int64
0
y    12
Name: 170878, dtype: int64
0
y    12
Name: 170880, dtype: int64
3
y    12
Name: 170982, dtype: int64
3
y    12
Name: 170984, dtype: int64
1
y    12
Name: 170987, dtype: int64
0
y    12
Name: 171009, dtype: int64
2
y    12
Name: 171010, dtype: int64
2
y    12
Name: 171012, dtype: int64
2
y    12
Name: 171013, dtype: int64
2
y    12
Name: 171015, dtype: int64
2
y    12
Name: 171016, dtype: int64
2
y    12
Name: 171018, dtype: int64
2
y    12
Name: 171019, dtype: int64
2
y    12
Name: 171020, dtype: int64
2
y    12
Name: 171021, dtype: int64
2
y    12
Name: 171022, dtype: int64
3
y    12
Name: 171034, dtype: int64
3
y    12
Name: 171041, dtype: int64
3
y    12
Name: 171042, dtype: int64
1
y    12
Name: 171056, dtype: int64
0
y    0
Name: 171064, dtype: int64
2
y    12
Name: 171112, dtype: int64
1
y    12
Name: 171132, dtype: int64
1
y    12
Name: 171133, dtype: int64
2
y    12
Name: 171165, dtype: int64
2
y    12
Name: 171166, dtype: int64
1
y    12
Name: 171232, dtype: int64
3
y    12
Name: 171249, dtype: int64
1
y    12
Name: 171270, dtype: int64
2
y    12
Name: 171300, dtype: int64
2
y    12
Name: 171301, dtype: int64
0
y    0
Name: 171314, dtype: int64
0
y    0
Name: 171485, dtype: int64
1
y    12
Name: 171499, dtype: int64
1
y    12
Name: 171522, dtype: int64
0
y    0
Name: 171576, dtype: int64
1
y    12
Name: 171598, dtype: int64
0
y    0
Name: 171748, dtype: int64
1
y    2
Name: 171983, dtype: int64
0
y    0
Name: 171985, dtype: int64
0
y    0
Name: 172017, dtype: int64
1
y    1
Name: 172024, dtype: int64
0
y    0
Name: 172025, dtype: int64
0
y    0
Name: 172066, dtype: int64
0
y    0
Name: 172131, dtype: int64
2
y    12
Name: 172154, dtype: int64
2
y    12
Name: 172155, dtype: int64
0
y    12
Name: 172202, dtype: int64
0
y    12
Name: 172207, dtype: int64
2
y    1
Name: 172346, dtype: int64
0
y    0
Name: 172347, dtype: int64
3
y    12
Name: 172365, dtype: int64
3
y    12
Name: 172370, dtype: int64
0
y    0
Name: 172401, dtype: int64
1
y    12
Name: 172410, dtype: int64
1
y    12
Name: 172420, dtype: int64
1
y    12
Name: 172421, dtype: int64
1
y    12
Name: 172422, dtype: int64
3
y    12
Name: 172492, dtype: int64
3
y    12
Name: 172565, dtype: int64
1
y    0
Name: 172597, dtype: int64
1
y    12
Name: 172617, dtype: int64
1
y    12
Name: 172618, dtype: int64
1
y    12
Name: 172620, dtype: int64
1
y    12
Name: 172621, dtype: int64
1
y    12
Name: 172720, dtype: int64
1
y    12
Name: 172721, dtype: int64
1
y    12
Name: 172722, dtype: int64
1
y    12
Name: 172723, dtype: int64
2
y    12
Name: 172724, dtype: int64
2
y    12
Name: 172740, dtype: int64
2
y    12
Name: 172810, dtype: int64
2
y    12
Name: 172814, dtype: int64
2
y    12
Name: 172820, dtype: int64
2
y    12
Name: 172821, dtype: int64
2
y    12
Name: 172823, dtype: int64
2
y    12
Name: 172824, dtype: int64
2
y    12
Name: 172825, dtype: int64
2
y    12
Name: 172826, dtype: int64
2
y    12
Name: 172827, dtype: int64
2
y    12
Name: 172828, dtype: int64
2
y    12
Name: 172871, dtype: int64
0
y    12
Name: 173096, dtype: int64
3
y    12
Name: 173097, dtype: int64
3
y    12
Name: 173199, dtype: int64
3
y    12
Name: 173390, dtype: int64
0
y    0
Name: 173513, dtype: int64
2
y    12
Name: 173536, dtype: int64
1
y    12
Name: 173537, dtype: int64
2
y    12
Name: 173546, dtype: int64
1
y    12
Name: 173548, dtype: int64
3
y    12
Name: 173549, dtype: int64
2
y    12
Name: 173554, dtype: int64
2
y    12
Name: 173555, dtype: int64
2
y    12
Name: 173556, dtype: int64
2
y    12
Name: 173557, dtype: int64
2
y    12
Name: 173558, dtype: int64
2
y    12
Name: 173559, dtype: int64
3
y    12
Name: 173560, dtype: int64
3
y    12
Name: 173561, dtype: int64
2
y    12
Name: 173562, dtype: int64
3
y    12
Name: 173566, dtype: int64
3
y    12
Name: 173568, dtype: int64
3
y    12
Name: 173569, dtype: int64
3
y    12
Name: 173570, dtype: int64
3
y    12
Name: 173571, dtype: int64
0
y    0
Name: 173596, dtype: int64
1
y    12
Name: 173602, dtype: int64
0
y    12
Name: 173634, dtype: int64
0
y    12
Name: 173635, dtype: int64
0
y    12
Name: 173636, dtype: int64
0
y    12
Name: 173639, dtype: int64
0
y    12
Name: 173643, dtype: int64
3
y    0
Name: 173666, dtype: int64
1
y    12
Name: 173730, dtype: int64
2
y    12
Name: 173731, dtype: int64
3
y    12
Name: 173747, dtype: int64
3
y    12
Name: 173801, dtype: int64
2
y    12
Name: 173809, dtype: int64
1
y    12
Name: 173823, dtype: int64
1
y    3
Name: 173824, dtype: int64
1
y    2
Name: 173825, dtype: int64
1
y    1
Name: 173826, dtype: int64
0
y    0
Name: 173827, dtype: int64
2
y    12
Name: 173869, dtype: int64
2
y    12
Name: 173871, dtype: int64
1
y    12
Name: 173872, dtype: int64
2
y    12
Name: 173873, dtype: int64
2
y    12
Name: 173874, dtype: int64
2
y    12
Name: 173918, dtype: int64
0
y    0
Name: 173940, dtype: int64
1
y    12
Name: 173987, dtype: int64
1
y    12
Name: 173988, dtype: int64
1
y    12
Name: 173989, dtype: int64
2
y    12
Name: 173990, dtype: int64
3
y    12
Name: 174059, dtype: int64
2
y    12
Name: 174110, dtype: int64
2
y    12
Name: 174111, dtype: int64
3
y    12
Name: 174149, dtype: int64
0
y    0
Name: 174217, dtype: int64
2
y    12
Name: 174223, dtype: int64
3
y    12
Name: 174265, dtype: int64
1
y    12
Name: 174302, dtype: int64
0
y    0
Name: 174309, dtype: int64
2
y    12
Name: 174331, dtype: int64
1
y    12
Name: 174332, dtype: int64
3
y    3
Name: 174375, dtype: int64
0
y    0
Name: 174378, dtype: int64
3
y    12
Name: 174419, dtype: int64
0
y    0
Name: 174494, dtype: int64
0
y    0
Name: 174510, dtype: int64
0
y    0
Name: 174527, dtype: int64
0
y    0
Name: 174634, dtype: int64
3
y    3
Name: 174637, dtype: int64
0
y    0
Name: 174730, dtype: int64
2
y    12
Name: 174876, dtype: int64
2
y    12
Name: 174877, dtype: int64
2
y    12
Name: 174882, dtype: int64
2
y    12
Name: 174920, dtype: int64
3
y    12
Name: 174947, dtype: int64
3
y    12
Name: 174971, dtype: int64
0
y    12
Name: 174973, dtype: int64
1
y    12
Name: 174975, dtype: int64
0
y    12
Name: 174976, dtype: int64
1
y    12
Name: 174978, dtype: int64
1
y    12
Name: 174989, dtype: int64
1
y    12
Name: 175003, dtype: int64
3
y    12
Name: 175105, dtype: int64
1
y    12
Name: 175115, dtype: int64
0
y    0
Name: 175146, dtype: int64
0
y    0
Name: 175155, dtype: int64
2
y    12
Name: 175174, dtype: int64
2
y    12
Name: 175214, dtype: int64
0
y    0
Name: 175226, dtype: int64
1
y    12
Name: 175242, dtype: int64
0
y    0
Name: 175253, dtype: int64
2
y    12
Name: 175263, dtype: int64
1
y    12
Name: 175268, dtype: int64
1
y    12
Name: 175290, dtype: int64
1
y    12
Name: 175291, dtype: int64
1
y    12
Name: 175297, dtype: int64
0
y    0
Name: 175303, dtype: int64
1
y    12
Name: 175314, dtype: int64
2
y    12
Name: 175343, dtype: int64
0
y    0
Name: 175369, dtype: int64
1
y    12
Name: 175401, dtype: int64
1
y    12
Name: 175402, dtype: int64
1
y    12
Name: 175403, dtype: int64
1
y    12
Name: 175404, dtype: int64
1
y    12
Name: 175405, dtype: int64
1
y    12
Name: 175406, dtype: int64
1
y    12
Name: 175415, dtype: int64
3
y    12
Name: 175465, dtype: int64
3
y    12
Name: 175466, dtype: int64
0
y    0
Name: 175479, dtype: int64
0
y    0
Name: 175495, dtype: int64
0
y    0
Name: 175498, dtype: int64
0
y    0
Name: 175600, dtype: int64
3
y    12
Name: 175606, dtype: int64
3
y    12
Name: 175663, dtype: int64
1
y    12
Name: 175694, dtype: int64
2
y    12
Name: 175738, dtype: int64
2
y    12
Name: 175816, dtype: int64
2
y    12
Name: 175824, dtype: int64
0
y    0
Name: 175846, dtype: int64
3
y    12
Name: 175928, dtype: int64
2
y    12
Name: 175929, dtype: int64
1
y    3
Name: 175930, dtype: int64
0
y    0
Name: 175933, dtype: int64
0
y    0
Name: 175936, dtype: int64
3
y    12
Name: 175952, dtype: int64
3
y    12
Name: 176000, dtype: int64
1
y    12
Name: 176090, dtype: int64
1
y    12
Name: 176134, dtype: int64
3
y    12
Name: 176210, dtype: int64
3
y    12
Name: 176211, dtype: int64
3
y    12
Name: 176213, dtype: int64
3
y    12
Name: 176217, dtype: int64
3
y    12
Name: 176220, dtype: int64
1
y    12
Name: 176224, dtype: int64
1
y    12
Name: 176255, dtype: int64
2
y    12
Name: 176272, dtype: int64
0
y    0
Name: 176343, dtype: int64
2
y    12
Name: 176352, dtype: int64
0
y    0
Name: 176358, dtype: int64
2
y    12
Name: 176372, dtype: int64
2
y    12
Name: 176373, dtype: int64
0
y    0
Name: 176415, dtype: int64
1
y    12
Name: 176418, dtype: int64
0
y    12
Name: 176419, dtype: int64
0
y    12
Name: 176421, dtype: int64
1
y    12
Name: 176469, dtype: int64
1
y    12
Name: 176474, dtype: int64
1
y    12
Name: 176479, dtype: int64
1
y    12
Name: 176482, dtype: int64
3
y    12
Name: 176484, dtype: int64
1
y    12
Name: 176487, dtype: int64
1
y    12
Name: 176488, dtype: int64
1
y    12
Name: 176533, dtype: int64
1
y    12
Name: 176548, dtype: int64
3
y    12
Name: 176629, dtype: int64
2
y    12
Name: 176720, dtype: int64
2
y    12
Name: 176739, dtype: int64
0
y    0
Name: 176833, dtype: int64
3
y    12
Name: 176841, dtype: int64
3
y    12
Name: 176843, dtype: int64
1
y    12
Name: 176852, dtype: int64
2
y    12
Name: 176900, dtype: int64
1
y    12
Name: 176901, dtype: int64
1
y    12
Name: 176902, dtype: int64
1
y    12
Name: 176927, dtype: int64
0
y    0
Name: 176935, dtype: int64
2
y    12
Name: 176948, dtype: int64
3
y    12
Name: 176992, dtype: int64
0
y    12
Name: 176994, dtype: int64
1
y    12
Name: 177004, dtype: int64
1
y    12
Name: 177005, dtype: int64
1
y    12
Name: 177006, dtype: int64
1
y    12
Name: 177007, dtype: int64
1
y    12
Name: 177008, dtype: int64
1
y    12
Name: 177009, dtype: int64
1
y    2
Name: 177011, dtype: int64
3
y    12
Name: 177115, dtype: int64
0
y    12
Name: 177172, dtype: int64
1
y    12
Name: 177336, dtype: int64
1
y    1
Name: 177372, dtype: int64
0
y    0

Name: 177373, dtype: int64
3
y    12
Name: 177424, dtype: int64
1
y    12
Name: 177560, dtype: int64
2
y    12
Name: 177619, dtype: int64
2
y    12
Name: 177636, dtype: int64
1
y    12
Name: 177671, dtype: int64
0
y    12
Name: 177734, dtype: int64
1
y    12
Name: 177735, dtype: int64
0
y    0
Name: 177757, dtype: int64
0
y    0
Name: 177776, dtype: int64
0
y    0
Name: 177806, dtype: int64
1
y    12
Name: 177833, dtype: int64
1
y    12
Name: 177834, dtype: int64
0
y    12
Name: 177879, dtype: int64
0
y    0
Name: 177970, dtype: int64
0
y    0
Name: 177976, dtype: int64
1
y    12
Name: 178032, dtype: int64
2
y    12
Name: 178033, dtype: int64
0
y    12
Name: 178052, dtype: int64
0
y    0
Name: 178140, dtype: int64
1
y    12
Name: 178185, dtype: int64
1
y    12
Name: 178187, dtype: int64
0
y    12
Name: 178189, dtype: int64
3
y    12
Name: 178230, dtype: int64
0
y    0
Name: 178259, dtype: int64
2
y    12
Name: 178264, dtype: int64
0
y    0
Name: 178279, dtype: int64
3
y    12
Name: 178349, dtype: int64
1
y    12
Name: 178395, dtype: int64
1
y    12
Name: 178423, dtype: int64
1
y    12
Name: 178426, dtype: int64
1
y    12
Name: 178429, dtype: int64
1
y    12
Name: 178433, dtype: int64
3
y    12
Name: 178435, dtype: int64
1
y    12
Name: 178436, dtype: int64
2
y    12
Name: 178437, dtype: int64
3
y    12
Name: 178446, dtype: int64
1
y    12
Name: 178457, dtype: int64
2
y    12
Name: 178509, dtype: int64
1
y    12
Name: 178560, dtype: int64
2
y    12
Name: 178573, dtype: int64
1
y    12
Name: 178574, dtype: int64
3
y    12
Name: 178589, dtype: int64
2
y    12
Name: 178737, dtype: int64
1
y    12
Name: 178739, dtype: int64
1
y    12
Name: 178780, dtype: int64
0
y    0
Name: 178864, dtype: int64
1
y    12
Name: 178874, dtype: int64
3
y    12
Name: 178891, dtype: int64
2
y    12
Name: 178919, dtype: int64
3
y    12
Name: 178944, dtype: int64
2
y    12
Name: 178984, dtype: int64
2
y    12
Name: 178985, dtype: int64
2
y    12
Name: 178987, dtype: int64
3
y    3
Name: 178989, dtype: int64
0
y    0
Name: 178992, dtype: int64
3
y    12
Name: 179056, dtype: int64
3
y    12
Name: 179066, dtype: int64
1
y    12
Name: 179068, dtype: int64
1
y    12
Name: 179091, dtype: int64
1
y    12
Name: 179164, dtype: int64
1
y    12
Name: 179166, dtype: int64
1
y    12
Name: 179167, dtype: int64
1
y    12
Name: 179168, dtype: int64
1
y    12
Name: 179169, dtype: int64
1
y    12
Name: 179170, dtype: int64
1
y    12
Name: 179171, dtype: int64
2
y    3
Name: 179206, dtype: int64
2
y    12
Name: 179231, dtype: int64
2
y    12
Name: 179232, dtype: int64
1
y    12
Name: 179304, dtype: int64
3
y    12
Name: 179316, dtype: int64
1
y    12
Name: 179317, dtype: int64
2
y    12
Name: 179318, dtype: int64
2
y    12
Name: 179319, dtype: int64
2
y    12
Name: 179320, dtype: int64
1
y    12
Name: 179329, dtype: int64
3
y    12
Name: 179339, dtype: int64
1
y    3
Name: 179362, dtype: int64
0
y    0
Name: 179368, dtype: int64
0
y    0
Name: 179385, dtype: int64
1
y    12
Name: 179486, dtype: int64
0
y    12
Name: 179502, dtype: int64
0
y    12
Name: 179507, dtype: int64
1
y    12
Name: 179565, dtype: int64
2
y    12
Name: 179616, dtype: int64
1
y    12
Name: 179634, dtype: int64
1
y    12
Name: 179638, dtype: int64
1
y    12
Name: 179671, dtype: int64
1
y    12
Name: 179672, dtype: int64
1
y    12
Name: 179673, dtype: int64
3
y    12
Name: 179675, dtype: int64
2
y    12
Name: 179676, dtype: int64
2
y    12
Name: 179677, dtype: int64
2
y    12
Name: 179678, dtype: int64
1
y    12
Name: 179679, dtype: int64
1
y    12
Name: 179680, dtype: int64
1
y    12
Name: 179681, dtype: int64
1
y    12
Name: 179728, dtype: int64
1
y    2
Name: 179745, dtype: int64
0
y    0
Name: 179747, dtype: int64
1
y    12
Name: 179786, dtype: int64
3
y    12
Name: 179854, dtype: int64
2
y    12
Name: 179859, dtype: int64
1
y    12
Name: 179875, dtype: int64
2
y    12
Name: 179922, dtype: int64
2
y    12
Name: 179957, dtype: int64
0
y    0
Name: 179979, dtype: int64
0
y    12
Name: 180008, dtype: int64
3
y    12
Name: 180019, dtype: int64
2
y    12
Name: 180034, dtype: int64
0
y    0
Name: 180052, dtype: int64
1
y    12
Name: 180055, dtype: int64
2
y    12
Name: 180071, dtype: int64
3
y    12
Name: 180160, dtype: int64
1
y    12
Name: 180166, dtype: int64
3
y    12
Name: 180183, dtype: int64
1
y    12
Name: 180189, dtype: int64
1
y    12
Name: 180232, dtype: int64
2
y    12
Name: 180258, dtype: int64
3
y    12
Name: 180278, dtype: int64
3
y    12
Name: 180296, dtype: int64
3
y    12
Name: 180327, dtype: int64
2
y    12
Name: 180342, dtype: int64
0
y    12
Name: 180355, dtype: int64
3
y    12
Name: 180356, dtype: int64
3
y    12
Name: 180372, dtype: int64
3
y    12
Name: 180373, dtype: int64
3
y    12
Name: 180386, dtype: int64
3
y    12
Name: 180387, dtype: int64
2
y    12
Name: 180439, dtype: int64
2
y    12
Name: 180457, dtype: int64
3
y    12
Name: 180475, dtype: int64
2
y    12
Name: 180476, dtype: int64
2
y    12
Name: 180537, dtype: int64
1
y    2
Name: 180551, dtype: int64
1
y    1
Name: 180552, dtype: int64
0
y    0
Name: 180553, dtype: int64
2
y    12
Name: 180586, dtype: int64
3
y    12
Name: 180659, dtype: int64
0
y    0
Name: 180673, dtype: int64
2
y    12
Name: 180687, dtype: int64
3
y    12
Name: 180692, dtype: int64
2
y    12
Name: 180697, dtype: int64
2
y    12
Name: 180772, dtype: int64
2
y    12
Name: 180773, dtype: int64
2
y    12
Name: 180775, dtype: int64
0
y    0
Name: 180806, dtype: int64
0
y    12
Name: 180835, dtype: int64
1
y    12
Name: 180836, dtype: int64
0
y    12
Name: 180837, dtype: int64
0
y    12
Name: 180839, dtype: int64
0
y    0
Name: 180849, dtype: int64
1
y    12
Name: 180897, dtype: int64
3
y    12
Name: 180918, dtype: int64
3
y    12
Name: 180919, dtype: int64
3
y    12
Name: 180920, dtype: int64
3
y    12
Name: 180921, dtype: int64
3
y    12
Name: 180922, dtype: int64
0
y    0
Name: 180944, dtype: int64
0
y    0
Name: 180953, dtype: int64
1
y    12
Name: 180966, dtype: int64
0
y    0
Name: 180986, dtype: int64
0
y    12
Name: 181002, dtype: int64
3
y    12
Name: 181005, dtype: int64
1
y    12
Name: 181072, dtype: int64
2
y    12
Name: 181210, dtype: int64
2
y    12
Name: 181211, dtype: int64
2
y    12
Name: 181212, dtype: int64
2
y    12
Name: 181213, dtype: int64
2
y    12
Name: 181214, dtype: int64
2
y    12
Name: 181215, dtype: int64
2
y    12
Name: 181216, dtype: int64
3
y    12
Name: 181236, dtype: int64
3
y    12
Name: 181237, dtype: int64
3
y    12
Name: 181238, dtype: int64
3
y    12
Name: 181239, dtype: int64
3
y    12
Name: 181240, dtype: int64
3
y    12
Name: 181241, dtype: int64
3
y    12
Name: 181242, dtype: int64
3
y    12
Name: 181243, dtype: int64
2
y    12
Name: 181294, dtype: int64
2
y    12
Name: 181316, dtype: int64
3
y    2
Name: 181379, dtype: int64
0
y    0
Name: 181381, dtype: int64
3
y    12
Name: 181478, dtype: int64
3
y    12
Name: 181479, dtype: int64
3
y    12
Name: 181480, dtype: int64
2
y    12
Name: 181502, dtype: int64
3
y    12
Name: 181617, dtype: int64
2
y    12
Name: 181636, dtype: int64
0
y    0
Name: 181675, dtype: int64
0
y    0
Name: 181679, dtype: int64
2
y    12
Name: 181715, dtype: int64
2
y    12
Name: 181716, dtype: int64
2
y    12
Name: 181717, dtype: int64
2
y    12
Name: 181718, dtype: int64
2
y    12
Name: 181730, dtype: int64
1
y    12
Name: 181796, dtype: int64
1
y    12
Name: 181826, dtype: int64
0
y    0
Name: 181843, dtype: int64
1
y    12
Name: 181948, dtype: int64
3
y    12
Name: 182043, dtype: int64
3
y    12
Name: 182088, dtype: int64
1
y    12
Name: 182146, dtype: int64
1
y    12
Name: 182147, dtype: int64
1
y    12
Name: 182150, dtype: int64
1
y    12
Name: 182152, dtype: int64
0
y    0
Name: 182188, dtype: int64
3
y    12
Name: 182193, dtype: int64
2
y    12
Name: 182253, dtype: int64
2
y    12
Name: 182268, dtype: int64
2
y    12
Name: 182289, dtype: int64
2
y    12
Name: 182290, dtype: int64
2
y    12
Name: 182359, dtype: int64
1
y    12
Name: 182372, dtype: int64
1
y    12
Name: 182373, dtype: int64
3
y    12
Name: 182374, dtype: int64
0
y    0
Name: 182391, dtype: int64
0
y    0
Name: 182419, dtype: int64
1
y    1
Name: 182431, dtype: int64
0
y    0
Name: 182432, dtype: int64
0
y    0
Name: 182545, dtype: int64
2
y    12
Name: 182580, dtype: int64
0
y    0
Name: 182710, dtype: int64
0
y    0
Name: 182714, dtype: int64
3
y    12
Name: 182767, dtype: int64
3
y    12
Name: 182768, dtype: int64
3
y    12
Name: 182769, dtype: int64
3
y    12
Name: 182770, dtype: int64
3
y    12
Name: 182771, dtype: int64
3
y    12
Name: 182772, dtype: int64
3
y    12
Name: 182773, dtype: int64
3
y    12
Name: 182774, dtype: int64
2
y    12
Name: 182829, dtype: int64
1
y    3
Name: 182884, dtype: int64
3
y    12
Name: 182936, dtype: int64
3
y    12
Name: 182937, dtype: int64
3
y    12
Name: 182938, dtype: int64
3
y    12
Name: 182939, dtype: int64
3
y    12
Name: 182940, dtype: int64
3
y    12
Name: 182941, dtype: int64
3
y    12
Name: 182942, dtype: int64
3
y    12
Name: 182943, dtype: int64
1
y    12
Name: 182974, dtype: int64
1
y    12
Name: 182976, dtype: int64
3
y    12
Name: 183000, dtype: int64

In [90]:
maj_data = mod_data[mod_data.y>3]
maj_data = maj_data.iloc[0:15832 , :]

In [91]:
min_data = mod_data[mod_data.y<4]
min_data = min_data[min_data.y>0]
min_data.shape

(4692, 63)

In [92]:
frames = [maj_data , min_data]
balanced_data = pd.concat(frames)

In [93]:
balanced_data.shape

(20524, 63)

In [94]:
train_data = balanced_data.iloc[0:18000,:]
test_data = balanced_data.iloc[18000:,:]
x_train = train_data[['Tenure_Months','Apps_Proc_Percent','Applied_Premium','NoBenePercent','NoCertPercent','GROSS_AP','G0138_received','Setup_Complete','Total_Suspense','TotalCases','Active_Cases']]
x_test = test_data[['Tenure_Months','Apps_Proc_Percent','Applied_Premium','NoBenePercent','NoCertPercent','GROSS_AP','G0138_received','Setup_Complete','Total_Suspense','TotalCases','Active_Cases']]
y_train = train_data[['y']]
y_test = test_data[['y']]

In [95]:
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [96]:
y_pred = classifier.predict(x_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[138 142 151 398]
 [128 167 158 393]
 [127 145 169 408]
 [  0   0   0   0]]

In [97]:
y_pred[2522]

12

In [98]:
y_test.iloc[2522]

y    1
Name: 182892, dtype: int64

In [99]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          1       0.35      0.17      0.23       829
          2       0.37      0.20      0.26       846
          3       0.35      0.20      0.25       849
         12       0.00      0.00      0.00         0

avg / total       0.36      0.19      0.25      2524

In [100]:
print('Accuracy of Decision Tree classifier on test set: {:.2f}'.format(classifier.score(x_test, y_test)))

Accuracy of Decision Tree classifier on test set: 0.19

In [101]:
y_pred

array([ 3,  3,  1, ..., 12, 12, 12])

In [102]:
from collections import Counter
print(sorted(Counter(mod_data.y).items()))

[(0, 1575), (1, 1558), (2, 1563), (3, 1571), (12, 162940)]

In [141]:
X = mod_data[['Tenure_Months','Apps_Proc_Percent','Applied_Premium','NoBenePercent','NoCertPercent','GROSS_AP','G0138_received','Setup_Complete','Total_Suspense','TotalCases','Active_Cases']]
y = mod_data[['y']]

In [104]:
X = X.iloc[0:100000]
y = y.iloc[0:100000]

In [105]:
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=0)
X_resampled, y_resampled = cc.fit_sample(X, y)
print(sorted(Counter(y_resampled).items()))

[(0, 1040), (1, 1040), (2, 1040), (3, 1040), (12, 1040)]

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train.shape

(75000, 11)

In [107]:
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [108]:
y_pred = classifier.predict(X_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[  207     2     2     1    55]
 [    2    23    51    18   174]
 [    0    36    10    38   180]
 [    0    16    21    15   205]
 [   59   199   205   241 23240]]

In [109]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.77      0.78      0.77       267
          1       0.08      0.09      0.08       268
          2       0.03      0.04      0.04       264
          3       0.05      0.06      0.05       257
         12       0.97      0.97      0.97     23944

avg / total       0.94      0.94      0.94     25000

In [142]:
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_sample(X, y)
print(sorted(Counter(y_resampled).items()))

[(0, 160904), (1, 137055), (2, 132591), (3, 138345), (12, 100411)]

In [111]:
from imblearn.combine import SMOTETomek
smote_tomek = SMOTETomek(random_state=0)
X_resampled, y_resampled = smote_tomek.fit_sample(X, y)
print(sorted(Counter(y_resampled).items()))

[(0, 95665), (1, 93635), (2, 92983), (3, 93767), (12, 93260)]

In [143]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, random_state=0)
X_train.shape
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [144]:
y_pred = classifier.predict(X_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[40112    22    25    19    40]
 [   43 32944   550   342   381]
 [   28   534 31718   550   349]
 [   27   370   526 33167   420]
 [   40   781   852  1002 22485]]

In [145]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00     40218
          1       0.95      0.96      0.96     34260
          2       0.94      0.96      0.95     33179
          3       0.95      0.96      0.95     34510
         12       0.95      0.89      0.92     25160

avg / total       0.96      0.96      0.96    167327

In [127]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [128]:
y_pred = classifier.predict(X_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[  244     0     0     0    23]
 [    0     1     0     0   267]
 [    0     0     0     0   264]
 [    0     0     0     0   257]
 [   42     2     0     1 23899]]

/home/koushik/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [129]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.85      0.91      0.88       267
          1       0.33      0.00      0.01       268
          2       0.00      0.00      0.00       264
          3       0.00      0.00      0.00       257
         12       0.97      1.00      0.98     23944

avg / total       0.94      0.97      0.95     25000

In [130]:
data.columns

Index([u'Unnamed: 0', u'GRPNUM', u'VALUATION', u'STATUS', u'SIC_Code',
       u'Effective_Date', u'EE_Count', u'Tenure_Months', u'Tenure_Months1',
       u'Apps_Recd', u'Apps_Proc', u'Apps_Proc_Percent', u'Applied_Premium',
       u'AppliedPremium_L1', u'AppliedPremiumL1_Percent', u'AppliedPremium_L2',
       u'AppliedPremiumL2_Percent', u'AppliedPremium_L3',
       u'AppliedPremiumL3_Percent', u'Claims_Total', u'NoBene', u'NoCert',
       u'NoBenePercent', u'NoCertPercent', u'GROSS_AP', u'GROSSAP_L1',
       u'GrossAPL1_Percent', u'GROSSAP_L2', u'GrossAPL2_Percent',
       u'GROSSAP_L3', u'GrossAPL3_Percent', u'Eff_Date', u'Enrollment_Data',
       u'Account_Implementation_Coordinator', u'Account_Service_Coordinator',
       u'G0138_Status_Timestamp', u'Enrollment_Star_Timestamp',
       u'G0138_received', u'Min_Task_Entry_Date', u'Setup_Complete',
       u'Specific_Suspense', u'Unknown_Suspense', u'Total_Suspense',
       u'TotalSuspense_L1', u'TotalSuspenseL1_Percent', u'TotalSuspense_L2',
       u'TotalSuspenseL2_Percent', u'TotalSuspense_L3',
       u'TotalSuspenseL3_Percent', u'TotalCases', u'Active_Cases',
       u'Coverage_Billing_Effective', u'Enrollment_Start_Date',
       u'Enrollment_End_Date', u'Exception_Report', u'Genelco_Group_Status',
       u'Market_Segment', u'Work_Status', u'Platform_Preferred', u'MGA_Flag',
       u'Aflac_Apps', u'sno', u'y'],
      dtype='object')

In [183]:
X = mod_data[['Tenure_Months','Tenure_Months1','Apps_Proc_Percent','Applied_Premium','AppliedPremiumL1_Percent','AppliedPremiumL2_Percent','AppliedPremiumL3_Percent','NoBenePercent','NoCertPercent','GrossAPL1_Percent','GrossAPL2_Percent','GrossAPL3_Percent','TotalSuspenseL1_Percent','TotalSuspenseL2_Percent','TotalSuspenseL3_Percent','G0138_received','Setup_Complete','Total_Suspense','TotalCases','Active_Cases','GROSS_AP','Total_Suspense']]
y = mod_data[['y']]

In [197]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3 )

In [207]:
#y_test.shape = (50763,)
#y_test = y_test.reshape(50763,)
y_test.shape

(50763, 1)

In [226]:
y_test = np.array(y_test)
y_test= np.reshape(y_test,(50763,))
y_test.shape

(50763,)

In [ ]:
y_train = np.array(y_train)
y_train= np.reshape(y_trai,(50763,))
y_test.shape

In [199]:
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_sample(X_train, y_train)
print(sorted(Counter(y_resampled).items()))

[(0, 113021), (1, 101323), (2, 99520), (3, 100714), (12, 68837)]

In [200]:
# X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3 , random_state=0)
# X_train.shape
# X_train = X_resampled
# y_train = y_resampled
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(X_resampled, y_resampled)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [227]:
print(sorted(Counter(y_train).items()))
print(sorted(Counter(y_test).items()))

[('y', 1)]
[(0, 460), (1, 475), (2, 485), (3, 470), (12, 48873)]

In [202]:
y_pred = classifier.predict(X_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)
print(classification_report(y_test, y_pred))

[[  425    15     7     3    10]
 [    9    91    86    56   233]
 [    6   101    56    70   252]
 [    4    56    70    49   291]
 [  153  2579  2715  2790 40636]]
             precision    recall  f1-score   support

          0       0.71      0.92      0.80       460
          1       0.03      0.19      0.05       475
          2       0.02      0.12      0.03       485
          3       0.02      0.10      0.03       470
         12       0.98      0.83      0.90     48873

avg / total       0.95      0.81      0.87     50763

In [178]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()  
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [179]:
y_pred = classifier.predict(X_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)
print(classification_report(y_test, y_pred))

[[  440    15     4     0     9]
 [   12    81    90    29   277]
 [   10    82    52    42   293]
 [    1    47    49    36   299]
 [  135  1670  1547  1384 44159]]
             precision    recall  f1-score   support

          0       0.74      0.94      0.83       468
          1       0.04      0.17      0.07       489
          2       0.03      0.11      0.05       479
          3       0.02      0.08      0.04       432
         12       0.98      0.90      0.94     48895

avg / total       0.95      0.88      0.91     50763

In [203]:
# X_train = X_resampled
# y_train = y_resampled
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_resampled,y_resampled)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [204]:
y_pred = classifier.predict(X_test)  
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)
print(classification_report(y_test, y_pred))

ValueError: feature_names must be unique

In [195]:
y_test.columns

Index([u'y'], dtype='object')

In [196]:
y_train.columns

AttributeError: 'numpy.ndarray' object has no attribute 'columns'