In [1]:
import pandas as pd
import numpy as np
data = pd.ExcelFile("/home/koushik/Downloads/90% Proc Query since 2010 (3).xlsx")

In [2]:
df=data.parse("Report 1")

In [3]:
df.columns

Index([u'GRPNUM', u'Batch ID', u'App Recd Date', u'Apps Recd Mo',
       u'Apps Recd Day', u'Apps Recd Yr', u'Enroll Start', u'Apps Recd Count',
       u'Apps Proc Count', u'Application Age'],
      dtype='object')

In [19]:
dat = df.groupby(['GRPNUM' , 'Apps Recd Yr'])

In [28]:
dat = df[df['Apps Recd Yr'] == 2015]

In [34]:
dat.groupby('GRPNUM').agg({"Apps Recd Count" : "sum"})

                         Apps Recd Count
GRPNUM
0000000002                          5823
0000000720                            25
0000001569                             5
0000002256                            87
0000003002                             4
0000003005                            10
0000003007                             4
0000003009                             0
0000003016                             5
0000003020                             3
0000003024                            13
0000003027                          1039
0000003032                             0
0000003056                             1
0000003058                            11
0000003064                             7
0000003066                             6
0000003075                             1
0000003076                            17
0000003079                            21
0000003086                             9
0000003110                             3
0000003120                             6
0000003126                            11
0000003141                             1
0000003153                            18
0000003154                             3
0000003157                             3
0000003159                          5266
0000003172                            22
...                                  ...
0000022512                            45
0000022514                             1
0000022515                           109
0000022525                            19
0000022533                            89
0000022534                            41
0000022546                           222
0000022556                            46
0000022560                            50
0000022562                             1
0000022577                            54
0000022582                             0
0000022583                             0
0000022585                             0
0000022586                             0
0000022587                            14
0000022595                            23
0000022598                            12
0000022623                            33
0000022802                             2
0000023359                            69
12222-18176                           10
13070 (19077)                          3
1577 (18450)                           3
17381 & 13315                          9
18278 (18297-cancelled)              164
4760, 20642                           15
4860, 20557                            1
5550  18759                            1
7301 (18573)                         105

[4651 rows x 1 columns]

In [36]:
dat.groupby('GRPNUM', as_index = False).agg({"Apps Proc Count" : "sum"})

                       GRPNUM  Apps Proc Count
0                  0000000002             5653
1                  0000000720               25
2                  0000001569                5
3                  0000002256               79
4                  0000003002                4
5                  0000003005                1
6                  0000003007                4
7                  0000003009                0
8                  0000003016                1
9                  0000003020                3
10                 0000003024               13
11                 0000003027             1021
12                 0000003032                0
13                 0000003056                1
14                 0000003058               11
15                 0000003064                7
16                 0000003066                0
17                 0000003075                1
18                 0000003076               17
19                 0000003079               20
20                 0000003086                9
21                 0000003110                3
22                 0000003120                6
23                 0000003126               11
24                 0000003141                1
25                 0000003153               15
26                 0000003154                3
27                 0000003157                3
28                 0000003159             4880
29                 0000003172                6
...                       ...              ...
4621               0000022512               43
4622               0000022514                0
4623               0000022515              104
4624               0000022525               18
4625               0000022533               78
4626               0000022534               41
4627               0000022546              216
4628               0000022556               33
4629               0000022560                0
4630               0000022562                0
4631               0000022577               22
4632               0000022582                0
4633               0000022583                0
4634               0000022585                0
4635               0000022586                0
4636               0000022587               14
4637               0000022595                0
4638               0000022598               12
4639               0000022623               33
4640               0000022802                2
4641               0000023359               62
4642              12222-18176               10
4643            13070 (19077)                2
4644             1577 (18450)                3
4645            17381 & 13315                8
4646  18278 (18297-cancelled)              163
4647              4760, 20642               15
4648              4860, 20557                1
4649              5550  18759                1
4650             7301 (18573)              105

[4651 rows x 2 columns]

In [15]:
data_apps.GRPNUM

AttributeError: 'list' object has no attribute 'GRPNUM'

In [14]:
df_l = pd.DataFrame({'Grp':data_apps.GRPNUM})

AttributeError: 'list' object has no attribute 'GRPNUM'

In [13]:
df_l.head(5)

                                                 col
0  GRPNUM                                       0...
1  GRPNUM                                       0...
2  GRPNUM                                       0...
3  GRPNUM                                       0...
4  GRPNUM                                       0...